/**
 * @name Chillax
 * @author Chillax Squad
 * @authorLink https://github.com/warrayquipsome
 * @version 0.1
 * @invite DrfX6286kF
 * @description stress doesn't really goes with your fit, try out chillax you might not regret it.
 * @source https://github.com/warrayquipsome/Chillax
*/

/*                  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━                  */
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*┃  █████╗   ██╗  ██╗  ██╗  ██╗       ██╗        █████╗   ██╗  ██╗ ┃*/
/*┃ ██╔══██╗  ██║  ██║  ██║  ██║       ██║       ██╔══██╗  ╚██╗██╔╝ ┃*/
/*┃ ██║  ╚═╝  ███████║  ██║  ██║       ██║       ███████║   ╚███╔╝  ┃*/
/*┃ ██║  ██╗  ██╔══██║  ██║  ██║       ██║       ██╔══██║   ██╔██╗  ┃*/
/*┃ ╚█████╔╝  ██║  ██║  ██║  ███████╗  ███████╗  ██║  ██║  ██╔╝╚██╗ ┃*/
/*┃  ╚════╝   ╚═╝  ╚═╝  ╚═╝  ╚══════╝  ╚══════╝  ╚═╝  ╚═╝  ╚═╝  ╚═╝ ┃*/
/*━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━*/
/*                  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━                  */
/*dark mode*/
@import url('https://warrayquipsome.github.io/Chillax/dark.mode.css');
/*light mode*/
@import url('https://warrayquipsome.github.io/Chillax/light.mode.css');

/*Chillax Roots*/
/*discord transparency*//*roots*/
  .theme-dark {
  --background-message-hover: rgba(255, 255, 255, 0.055);
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #9d9d9d;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
 --interactive-muted: #4f545c;
  --background-primary: transparent;
  --background-secondary: transparent;
  --background-tertiary: transparent;
  --background-accent: rgb(36, 36, 36);
  --background-floating: rgb(0, 0, 0);
  --activity-card-background: transparent;
  --deprecated-panel-background: transparent;
}
  /*roots*/
:root {
  --user-name: "King";

  

  /*glow radial status*/ /*must end in px*/
  --rs-small-spacing:0px;
  --rs-large-spacing:0px;
  --rs-medium-spacing:0px;
  --rs-small-width: 2.5px; 
  --rs-medium-width: 3.5px; 
  --rs-large-width: 4.5px; 
  --rs-avatar-shape:50%;
  --rs-online-color:#1df594;
  --rs-idle-color:#faa61a;
  --rs-dnd-color:#f04747;
  --rs-offline-color:#636b75;
  --rs-streaming-color:#643da7;
  --rs-invisible-color:#636b75;
  --rs-phone-visible:block;
  --rs-phone-color:var(--rs-online-color);


  /*chillax colours rgb*/ /*you can find it in https://www.google.com/search?q=color+picker&sxsrf=ALiCzsYKrCjMKrZIxmXaa2pbzaLKvkznBA%3A1655630964863&ei=dOyuYtahNICQ4-EPx6mHaA&ved=0ahUKEwjWq6j8mbn4AhUAyDgGHcfUAQ0Q4dUDCA4&uact=5&oq=color+picker&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAELADEEMyBwgAELADEEMyBwgAELADEEMyBwgAELADEEMyCggAEOQCELADGAEyCggAEOQCELADGAEyCggAEOQCELADGAEyDwguENQCEMgDELADEEMYAjIPCC4Q1AIQyAMQsAMQQxgCMg8ILhDUAhDIAxCwAxBDGAJKBAhBGABKBAhGGAFQAFgAYL0DaAFwAXgAgAEAiAEAkgEAmAEAyAESwAEB2gEGCAEQARgJ2gEGCAIQARgI&sclient=gws-wiz*/
  --accentcolor:			251, 84, 84;	
  /*chillax colours hex*/ /*you can find it in https://www.google.com/search?q=color+picker&sxsrf=ALiCzsYKrCjMKrZIxmXaa2pbzaLKvkznBA%3A1655630964863&ei=dOyuYtahNICQ4-EPx6mHaA&ved=0ahUKEwjWq6j8mbn4AhUAyDgGHcfUAQ0Q4dUDCA4&uact=5&oq=color+picker&gs_lcp=Cgdnd3Mtd2l6EAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAEEcQsAMyBwgAELADEEMyBwgAELADEEMyBwgAELADEEMyBwgAELADEEMyCggAEOQCELADGAEyCggAEOQCELADGAEyCggAEOQCELADGAEyDwguENQCEMgDELADEEMYAjIPCC4Q1AIQyAMQsAMQQxgCMg8ILhDUAhDIAxCwAxBDGAJKBAhBGABKBAhGGAFQAFgAYL0DaAFwAXgAgAEAiAEAkgEAmAEAyAESwAEB2gEGCAEQARgJ2gEGCAIQARgI&sclient=gws-wiz*/
  --accentcolor2:     #fb5454;
  

  /*background image*/
  --background-image:var(--wq-suggested-bg);
  /*bg dev suggestions*/
  --wq-suggested-bg: url('https://wallpaperaccess.com/full/2799204.jpg');
  --de-suggested-bg: url('https://i.imgur.com/BtNVFtq.jpg');


  /*chatbox*/
  --color-brand-lighter: transparent;
}
