/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script:wght@400;700&display=swap');

/*wq's credit css*/
/* moohamad gang */
[data-user-id="709377715320651838"].userPopout-2j1gM4 .headerText-1-WmDq:hover:after{content:"× Theme Creator ×";margin-left: 1px;font-size: 30px;-webkit-text-fill-color: rgb(255, 111, 111);font-family: "Amatic SC";font-weight: 500;text-shadow: 0 0 3px #ff0000, 0 0 5px #453f93;letter-spacing: 2px;transition: 0.5s;}
[data-user-id="709377715320651838"].userPopout-2j1gM4 .headerTagDiscriminatorNoNickname-dfcvHa::after{content: "" !important;}
[data-user-id="709377715320651838"].userPopout-2j1gM4 .headerText-1-WmDq::after{content:"× Theme Creator ×";margin-left: 1px;font-size: 30px;-webkit-text-fill-color: rgb(255, 111, 111);font-family: "Amatic SC";font-weight: 500;text-shadow: 0 0 3px #ff0000, 0 0 5px #453f93;transition: 0.7s;}
[data-user-id="709377715320651838"].userPopout-2j1gM4 .headerTagDiscriminatorNoNickname-dfcvHa::after{content: "" !important;}
.size14-3fJ-ot {margin-left: 2px!important;}
[data-user-id="709377715320651838"] .size12-oc4dx4.muted-eZM05q{display: none;}
/*my about me and username font*/
[data-user-id="709377715320651838"] .aboutMeBody-1J8rhz  {font-family: Petit Formal Script;font-size: 9px!important;}
[data-user-id="709377715320651838"] .nickname-t08Mck {font-family: Petit Formal Script;font-size: 13px;}
[data-user-id="709377715320651838"] .nameTag-H6kSJ0 {font-family: Petit Formal Script;font-size: 11px;}
/*breathing username*/
.nameTag-H6kSJ0:hover {animation: breathingnametag 7.5s ease infinite;animation-delay: 15s;}@keyframes breathingnametag {0% {opacity: 1;}50% {opacity: 0;}70% {opacity: 0;}100% {opacity: 1;}}
/*I LOVE PUGS, i mean i have a custom user popout lel*/
#app-mount [data-user-id="709377715320651838"].userPopout-2j1gM4 {background-color: rgba(255, 255, 255, 0.158);background-image: url(https://i.imgur.com/fvdu6zk.gif);backdrop-filter: blur(500px);width: 700px!important;height: 359px!important;}
#app-mount [data-user-id="709377715320651838"] .bodyInnerWrapper-2bQs1k {background: transparent;}
#app-mount [data-user-id="709377715320651838"] .banner-1YaD3N {background: transparent!important;}.divider-1wtgZ3 {display: none;}
#app-mount [data-user-id="709377715320651838"] .bannerOverlayPopout-1clJ34, .bannerOverlay-1uIerX  {width: 900px!important;background-color: transparent;}
#app-mount [data-user-id="709377715320651838"] .textarea-_59yqs  {width: 900px!important;background-color: transparent;}
#app-mount [data-user-id="709377715320651838"] .role-2TIOKu {background-color: transparent;}
#app-mount [data-user-id="709377715320651838"] .avatar-2Vndt_ {border: 6px solid transparent;background-color: transparent;}
#app-mount [data-user-id="709377715320651838"] .colorLink-2apWfY {display: none;}
#app-mount [data-user-id="709377715320651838"] .headerText-1-WmDq, .nickname-t08Mck, .nameTag-H6kSJ0, .headerTagWithNickname-1U8zZH, .customStatus-3XAoF9, .aboutMeSection-PUghFQ, .bodyTitle-2Az3VQ, .headerTopWithCustomStatus-1aNSNd{text-align: center!important;}
#app-mount [data-user-id="709377715320651838"] .avatarPositionNormal-2jWoC2 {margin-left: 290px;}
#app-mount [data-user-id="709377715320651838"] .aboutMeTitle-3pjiS7 {margin-left: 300px;}
#app-mount [data-user-id="709377715320651838"] .bodyTitle-2Az3VQ.base-21yXnu::before {display: none;}




/*demented elmo credit css*/
