/****GOOGLE/BD FONTS****/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/****ADDONS****/
@import url("https://warrayquipsome.github.io/Chillax/BlurpleRecolorEdited.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url("https://warrayquipsome.github.io/Chillax/ChillaxTag.css");
@import url('https://nyri4.github.io/Discolored/main.css');
@import url("https://lavender-discord.github.io/Lavender/modules/addons/settings-icons.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css");
@import url("https://lavender-discord.github.io/Lavender/modules/addons/iconpack.css");
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css);


/* update notice */
.theme-light #app-mount .titleBar-1it3bQ::before {
content: "Your version of 'chillax' is outdated. Please download the newest version from: https://betterdiscord.app/theme/chillax";
display: var(--version1_0, block);
background: rgba(255, 255, 255, 0.5);
backdrop-filter: blur(5px);
color: rgb(0, 0, 0);
font-size: 14px;
font-weight: 100;
line-height: 50px;
width: 500px;
text-align: center;
z-index: 2;
position: fixed;
left: 35%;
top: 3%;
border-radius: 8px;
animation: warningflash 1.5s ease infinite;
}
@keyframes warningflash {
  0% {
    box-shadow: 0 2px 10px rgba(240,71,71,0.5),0 0 0 2px rgba(240,70,70,0.6);
  }
  70% {
    box-shadow: 0 0 20px 15px rgba(240,71,71,0.6),0 0 0 6px rgba(240,70,70,0.5);
  }
  100% {
    box-shadow: 0 0 20px 15px rgba(240,71,71,0),0 0 0 6px rgba(240,24,70,0.4);
  }
}











/***TRANSPARENT STATION***/
/**transparent part LVL I**/
/*friends tab*/
.content-1SgpWY > div, .panels-3wFtMD {
background: transparent!important;
}
/*transparent scrollbar*/
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border-color: transparent !important;
  background: transparent !important;
}
::-webkit-scrollbar-thumb {
  border: none !important;
  background-clip: content-box !important;
  background: transparent !important;
}
/*transparent call background*/
.wrapper-1gVUIN, .minimum-fXpVNc, .callContainer-HtHELf  {
background: none!important;
}
.root-u9h3Ui, .tile-2TcwiO {
background: none;
}
.videoGrid-1tZm-F{
background: transparent!important;
}
/**transparent part LVL II**/
/*small profile modal*/
.theme-light .userPopout-2j1gM4 {background-color: rgba(255, 255, 255, 0.4); backdrop-filter: blur(4px); }
.theme-light .footer-3naVBw {background-color: rgba(255, 255, 255, 0)!important;}
.theme-light .avatar-2Vndt_ {border: 6px solid transparent;background-color: transparent;}
.theme-light .bodyInnerWrapper-2bQs1k {background: transparent;}
/*bd editor titlebar*/
.theme-light .floating-window-titlebar {
  background-color: rgba(255, 255, 255, 0.575);
  backdrop-filter: blur(2px);
}
/*code block*/
.theme-light .scrollbar-3vVt8d {
  background-color: rgba(255, 255, 255, 0.377)!important;
}
/*menu blur*/
.theme-light .menu-1QACrS { /*Main class*/
  background-color: rgba(255, 255, 255, 0.3);
}
.menu-1QACrS::before,
.menu-1QACrS.submenu-1apzyU::before { /*Blurs the menu*/
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    z-index: -1;
    border-radius: 5px;
}
/*all in settings*/
.theme-light .messagesPopoutWrap-3zryHW, .drawerSizingWrapper-1txdWG {
  backdrop-filter: blur(5px)!important;
  background: rgba(255, 255, 255, 0.267)!important;
}
.inspector-2A2Ch {
  backdrop-filter: blur(5px);
  background: transparent;
}
.theme-light .feature-2IUcBI, .container-2nx-BQ, .bd-switch-body {
  background: rgba(255, 255, 255, 0.467)!important;
}
.theme-light .verticalFit-21XL0v, .card-16VQ8C {
  background: rgba(255, 255, 255, 0.067)!important;
}
.bottomDivider-ZmTm-j {
  background: transparent!important;
}
.theme-light .bar-1Bhnl9, .markDash-yk2kJ- {
  background: rgb(175, 175, 175)!important;
}
.popout-1KHNAq {
  backdrop-filter: blur(5px);
}
.theme-light .bd-addon-card {
  background: rgba(255, 255, 255, 0.349)!important;
}
.bd-addon-header {
  background: transparent!important;
}



/*--ETC CSS STATION--*/
/*discord wordmark*/
.wordmark-2u86JB path{
    display: none !important;
}
.wordmark-2u86JB::before{
    content:'‏‏‎ ‎‎c h i l l a x';
    font-size: 12px;
    font-family: "Comfortaa"!important;
    position:fixed;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-top: 20px;
}
/*wordmark typing animation*/
.wordmark-2u86JB::before {
  width: 10ch;
  animation: typing 5s steps(22), blink .5s step-end infinite alternate;
  border-right: 1px solid;
  overflow: hidden;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0
  }
}
@keyframes blink {
  50% {
    border-color: transparent
  }
}
/*wordmark icon*/
.wordmarkWindows-2dq6rw::after {
content: "";
position: absolute;
pointer-events: none;
background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="white" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>') center/100% no-repeat;
width: 12px;
height: 12px;
margin-left: 37px;
bottom: -13px;
}
/* button design*/
.lookFilled-yCfaCM {
  border-radius: 45px;
  background: #fff!important;
  color: #000!important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-family: "Roboto";
  font-size: 12px;
}
.theme-light .lookFilled-yCfaCM:hover {
    box-shadow: inset 1px 1px 2px rgb(231, 231, 231), inset -1px -1px 2px rgb(255, 255, 255);
}
/*channel unread pill*/
.unread-36eUEm {
  margin-left: 4px;
  border-radius: 20px;
}
/*spotify gradient thing*/
.theme-light .timeline-UWmgAx:hover .barFill-Dhkah7 {
    background: linear-gradient(135deg, #e2e2e2, var(--accentcolor2));
}
/*chatbox recolour*/
.input-2g-os5,
.scrollableContainer-15eg7h {
    background-color: transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    border: 1px solid transparent;
    outline: none;
}
.input-2g-os5:hover,
.scrollableContainer-15eg7h:hover {
    border-color: #ffffff15;
    background-color: #ffffff1f;
}
.input-2g-os5:focus-within,
.scrollableContainer-15eg7h:focus-within {
    background-color: rgba(0, 0, 0, 0.267);
}
/*Textbox Text*/
.theme-light .placeholder-1rCBhr {visibility: hidden!important;}
.theme-light .placeholder-1rCBhr::before {
  content: "Life is so much easier when you just take a time to chill";
  color: rgba(0, 0, 0, 0.2);
  font-family: "Poppins";
  font-size: 13px;
  visibility: visible!important;
}
/* Replace Wandering Cubes Spinner/loading discord image with gif*/
span[class="inner-26JK4f"]:after {
    background-image: url('https://multiplexurbangreen.com/images/loader.gif');
    background-size: cover;
    display: inline-block;
    width: 32px;
    height: 32px;
    content:"";
}
span[class="inner-26JK4f"] > *{
    display: none;
}
/* member list and friend DMs hover effect */
.clickable-28SzVr:hover, .interactive-1vLZ_I:hover {
transform: scale(1.1);
transition: all 0.2s;
}
.clickable-28SzVr, .interactive-1vLZ_I {
transition: all 0.3s;
}
/*recolor search*/
.theme-light .container-2McqkF {
  -webkit-box-shadow: var(--elevation-high)!important;
  box-shadow: var(--elevation-high)!important;
}
.theme-light .elevationBorderHigh-3drnJX {
  box-shadow: none!important;
  background: rgba(255, 255, 255, 0.555)!important;
  backdrop-filter: blur(10px)!important;
}
.theme-light .container-2McqkF {
  border-radius: 8px!important;
}
.theme-light .option-2KkUJO:after {
  display:none!important;
}
.theme-light .searchOption-351dTI .filter-5YbOzJ {
  color: var(--accentcolor2)!important;
}

/*connected vc buttons background*/
.colorable-3rVGna, .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyCenter-rrurWZ.alignCenter-14kD11.noWrap-hBpHBz {
background-color: var(--accentcolor2)!important;
border-radius: 50px;
}
/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
position: absolute;
z-index: 1;
bottom: 24px;
right: 22px;
padding: 8px !important;
height: auto;
background-color: var(--accentcolor2);
box-shadow: var(--elevation-high);
border-radius: 100px;
display: flex;
font-size: 0px;
color: transparent;
transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
order: -1;
margin: 0px;
height: 24px;
width: 24px;
top: auto;
margin-right: 0px;
margin-left: 0px;
color: #FFFFFF;
transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
padding: 8px 18px !important;
font-size: 14px;
color: #FFFFFF;
transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
margin-right: 2px;
margin-left: -6px;
}
/* Pop-out Animation */ 
.theme-light .menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
animation: custom-menu-animation 250ms ease;
transform-origin: top;
}
@keyframes custom-menu-animation {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
/*hide buttons in user panel until hover*/
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
opacity: 0% !important;
width: 0px;
transition: all 0.3s;
}
.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
opacity: 100% !important;
width: 32px;
}
/*channel hover effect*/
.theme-light .mainContent-20q_Hp {
transition: all 0.3s;
position: relative;
}
.theme-light .mainContent-20q_Hp {
transition: all 0.3s;
}
.theme-light .mainContent-20q_Hp::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
transition: all 0.3s;
border-top-width: 1px;
border-bottom-width: 1px;
border-top-style: solid;
border-bottom-style: solid;
border-top-color: rgba(0, 0, 0, 0.733);
border-bottom-color: rgba(0, 0, 0, 0.733);
transform: scale(0.1, 1);
}
.theme-light .mainContent-20q_Hp:hover {
letter-spacing: 1px;
}
.theme-light .mainContent-20q_Hp:hover::before {
opacity: 1; 
transform: scale(1, 1); 
}
.theme-light .mainContent-20q_Hp::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
transition: all 0.3s;
background-color: rgba(0, 0, 0, 0)
}
.theme-light .mainContent-20q_Hp:hover::after {
opacity: 0; 
transform: scale(0.1, 1);
}
.theme-light .content-1gYQeQ:hover {
  animation: wave-text 1s ease-in-out infinite;
}
.theme-light .logo.is-animetion {
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 0.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }
}
@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.2em);
  }
  100%{
    transform: translateY(0em);
  }
}
/*bd editor control colour*/
#bd-editor-controls {
background-image: linear-gradient(
    -60deg,
    #c45252 0%,
    #f9b3ff 80%,
    #e683ff 100%
)!important;}
.btn-primary {
  color: white!important;
}
/*welcome text*/
.theme-light body:before{content:"Greetings "var(--user-name)"!";
z-index:1000000000000000000000000;
color:rgb(0, 0, 0);
background-color: #ffffff7a;
top:0px;
left:52%;
position:absolute;
border-radius:5px;
padding:5px 15px;
transform:translate(-60%,-100%);
animation:chl 3s ease;
animation-delay:4s;
}
body,span:not(.spinner-item){
  -webkit-font-smoothing:antialiased;
  -webkit-backface-visibility:hidden;
}@-webkit-keyframes chl{
  from{
  transform:translate(-60%,-100%);
}
20%{
transform:translate(-60%,20%)}
80%{
transform:translate(-60%,20%)}
to{
transform:translate(-60%,-100%);}}
@keyframes chl{
  from{
  transform:translate(-60%,-100%);}
  20%{
  transform:translate(-60%,20%)}
  80%{
  transform:translate(-60%,20%)}
  to{
  transform:translate(-60%,-100%);}
}
/*default avatar*/
[src="/assets/1f0bfc0865d324c2587920a7d80c609b.png"] {content: url(https://i.imgur.com/tYEPmPZ.png)}
[src="/assets/c09a43a372ba81e3018c3151d4ed4773.png"] {content: url(https://i.imgur.com/tYEPmPZ.png)}
[src="/assets/7c8f476123d28d103efe381543274c25.png"] {content: url(https://i.imgur.com/tYEPmPZ.png)}
[src="/assets/6f26ddd1bf59740c536d2274bb834a05.png"] {content: url(https://i.imgur.com/tYEPmPZ.png)}
[src="/assets/3c6ccb83716d1e4fb91d3082f6b21d77.png"] {content: url(https://i.imgur.com/tYEPmPZ.png)}
/*custom mentioned colour*/
.mentioned-Tre-dv::before {
  background: linear-gradient(135deg, #b289ff, #d76d78)!important;
}
.mentioned-Tre-dv {
  background: linear-gradient(-60deg, rgba(181, 142, 255, 0.596),#d76d78da, #ffb07b04)!important;
}
.mentioned-Tre-dv:hover {
  background: linear-gradient(-60deg, rgba(181, 142, 255, 0.496),#d76d78c4, #ffb07b00)!important;
}
/*user popout animation*/
.theme-light #app-mount [class*=userPopout][aria-modal=true] {
overflow: hidden;
opacity: 0;
-webkit-animation: fadeIn 0.5s ease forwards;
        animation: fadeIn 0.5s ease forwards;
}
/*Hides CSS Tips*/
.markdown-hover {display: none;}
/*remove limit css editor*/
#floating-editor-window.resizable {
    max-height: unset;
    max-width: unset;
}
.floating-window.resizable{min-width: unset; min-height: unset; max-width: unset; max-height: unset;}
/* Minified search bar */ 
:root {
--transitionspeed: 0.25s;
}
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {width: 20px; transition: var(--transitionspeed); background-color: transparent;}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {width: 240px; background-color: var(--background-tertiary);}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {transform: scale(1.3); transition: var(--transitionspeed);}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {transform: scale(1);}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {color: var(--text-normal);}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {color: var(--text-muted);}
.container-ZMc96U.themed-Hp1KC_ .search-39IXmY {order: -1!important;}
/*channel resize*/
.sidebar-1tnWFu .name-28HaxV {
    font-size: 14px;
}
.sidebar-1tnWFu .icon-2W8DHg {
    width: 16px;
    height: 16px;
}
/*about me clamp*/
.clamped-2ZePhX{
    -webkit-line-clamp: 190; 
    max-height:112px;
    overflow-x: hidden;
    overflow-y:scroll;
    margin-left: 15px;
}
.clamped-2ZePhX::-webkit-scrollbar {
  width: 13px;
  margin-left: 7px;
}
.clamped-2ZePhX::-webkit-scrollbar-track {
  border-radius: 30px; 
  background-color: rgba(255, 255, 255, 0.047)!important; 
}
.clamped-2ZePhX::-webkit-scrollbar-thumb {
  background:  linear-gradient(45deg, #cacaca, var(--accentcolor2))!important; 
  border-radius: 30px; 
}
/* Light/dark mode indicator */
.titleBar-1it3bQ::after {
position: fixed;
left: 26px;
padding-left:6px;
padding-right:6px;
line-height: 23px;
height: 1px;
margin-bottom: -15px;
padding-bottom:43px;
font-family: 'Poppins', 'Arial';
font-size: 8px;
letter-spacing: 0.5px!important;
border-radius: 8px;
backdrop-filter: blur(2px);
}
.theme-dark .titleBar-1it3bQ::after {
content: "Chillax Dark mode";
background: rgba(32, 34, 37, 0.500);
color: rgb(255, 255, 255);
width:49px;
text-align: center;
bottom: 40px!important;
}
.theme-light .titleBar-1it3bQ::after {
content: "Chillax Light mode";
background: rgba(227, 229, 232, 0.500);
color: rgb(0, 0, 0);
width:50px;
text-align: center;
bottom: 40px!important;
}
/*custom min max close button*/
.theme-light .winButtonClose-3Q8ZH5 {
  top: 1px;
  right: 25px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.theme-light .winButtonMinMax-3RsPUg {
  top: 1px;
  right: 25px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.theme-light .winButtonMinMax-3RsPUg:hover {
  top: 1px;
  right: 25px;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  background-color: #0003;
}
/*custom bd window edit*/
.floating-window {
  border-radius: 5px!important;
}
.title{
  text-align: center;
  padding-left: 60px!important;
}
/*custom popout window*/
.theme-light #app-mount .layers-OrUESM {
  margin: var(--window-margin);
  overflow: hidden;
  border-radius: var(--window-border-radius);
  background: var(--window-colour);
  backdrop-filter: blur(var(--window-blur))!important;
}
/*user setting icon spin*/
.button-12Fmur:nth-last-child(1):hover path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"]{
  animation: Settings 1s;
  transform-origin: center;
}
.button-12Fmur:nth-last-child(1) path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"]{
  animation: Settings2 1s;
  transform-origin: center;
}
@keyframes Settings {
  from {transform: rotate(0deg);}
  to {transform: rotate(90deg);}
}
@keyframes Settings2 {
  from {transform: rotate(180deg);}
  to {transform: rotate(0deg);}
}
/*custom unread style*/
.unreadPillCap-2-iI4h {
   display: none;
   right: 50%
}
.unreadPill-3nEWYM {
    background-color: var(--background-shading);
    color: #fb5454;
    font-size: 12px;
    letter-spacing: 20px;
    right: 50%;
    left: 50%;
    width:30px
}
.isUnread-3Lojb-{
  --divider-color: rgb(237, 0, 255);
  border: none;
  background: linear-gradient(90deg, rgba(237, 0, 255, 1) 0%,  #fb5454 25%, rgba(0, 0, 0, 0) 50%, #fb5454 75%, rgba(254, 0, 255, 1) 100%);
  height: 1px;
}
.unreadPill-3nEWYM{
  top: -6px;
}
/*custom channel and text area font and size*/
.channelName-3KPsGw  {
  font-family: "Poppins";
  font-size: 12px!important;
}
.messageContent-2t3eCI, .contents-2MsGLg {
  font-family: Poppins;
  font-size: 13px!important;
}
/*custom public servers and create server buttons*/
.theme-light .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg {border-radius: 50px;background: rgba(0, 0, 0, 0.1);color: rgb(0, 0, 0);transition: all 0.4s;border: dashed 1px rgba(0, 0, 0, 0.4);}
.theme-light .guilds-2JjMmN .scroller-3X7KbA .circleIconButton-1VxDrg:hover {color: #000000;background: transparent;}
.pill-1NRFie {display: none;}
/* colored links */
/* YouTube */
[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
}
/* Twitch */
[href*="twitch.tv"] {
    color:#b700ff !important;
}
/* Discord */
[href*="discord.com/channels/"] {
    color:#7289da !important;
}
[href*="discord.com/channels/"]::before {
    color: #603cff;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"],
[href*="discord.com/"],
[href*="media.discordapp.net/"],
[href*="cdn.discordapp.com/"] {
    color:#7289da !important;
}
/* Twitter */
[href*="twitter.com/"]{
    color:#00acee !important;
}
/* GitHub */
[href*="github.com"]{
    color:#00f0a8 !important;
}
/* Imgur */
[href*="i.imgur.com"]{
    color:#89C623 !important;
}
/* Steam */
[href*="store.steampowered.com"],
[href*="https://s.team"],
[href*="steamcommunity.com/"] {
    color:#1b2838 !important; 
}
/* Spotify */
[href*="spotify.com"],
[href*="open.spotify.com"]{
    color:#13B94A !important; 
}
/* SoundCloud */
[href*="soundcloud.com"]{
    color:#ff5500 !important; 
}

/* Center profile badge, avatar and name */
.avatarWrapperNormal-ahVUaC {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}

.headerText-1-WmDq {
    text-align: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: -7px;
}

.profileBadges-2pItdR {
    justify-content: center;
    position: relative;
    max-width: 100%;
    right: 0px;
    top: -10px;
}

/*setting close button design and colour*/
.theme-light .closeButton-PCZcma {
  animation: ripplelight 4s linear infinite;
}
@keyframes ripplelight {
  0% {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.2),
                0 0 0 4px rgba(0, 0, 0, 0.2),
                0 0 0 8px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, 0.2),
                0 0 0 4px rgba(0, 0, 0, 0.2),
                0 0 0 8px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
                0 0 0 4px rgba(0, 0, 0, 0.2),
                0 0 0 8px rgba(0, 0, 0, 0.2);
  }
}
/*remove unread with date*/ /*it causes issue with the theme*/
.hasContent-1y12-u {
  display:none;
}
/* Smaller Server */
ul[data-list-id='guildsnav'] {
	--background-secondary: var(--background-solid);
    	--background-primary: rgba(var(--white), 0.1);
	margin-bottom: 70px;
	background-color: rgba(var(--black), 0.6);
	border-right: 1px solid rgba(var(--black), 0.2);
	box-shadow: inset -10px 0px 20px -10px rgba(var(--black), 0.3);
}
ul[data-list-id='guildsnav'] [class^="pill-"],
ul[data-list-id='guildsnav'] [class^="pill-"]>div {
	height: 40px !important;
}
ul[data-list-id='guildsnav'] div[style*="height: 56"],
ul[id^="folder-items-"] {
	height: auto !important;
}

span[class^="expandedFolderBackground-"] {
	--background-secondary: rgba(var(--black), 0.25);
	border-radius: 14px;
	width: 40px;
	left: 16px;
}
.wrapper-28eC3z,
[data-list-id='guildsnav'] [data-dnd-name] > div,
[data-list-id='guildsnav'] svg[width="48"] {
	width: 40px;
	height: 40px;
}
div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/110% no-repeat;
}
div[data-list-item-id="guildsnav___create-join-button"],
div[data-list-item-id="guildsnav___guild-discover-button"] {
	transition: 150ms ease;
	opacity: 0.5;
	background-color: var(--background-solid) !important;
	color: rgba(var(--white), 0.3) !important;
	border: 1px dashed rgba(var(--white), 0.3);
	border-radius: 50px;
}
div[data-list-item-id="guildsnav___create-join-button"]:hover,
div[data-list-item-id="guildsnav___guild-discover-button"]:hover {
	opacity: 1;
}
/*glow radial status*/
div[class*="wrapper-1VLyxH"][aria-label*="Streaming"]>svg[class="mask-1FEkla svg-2azL_l"] {
  filter: drop-shadow(0 0 7px var(--rs-streaming-color))!important;
}
div[class*="wrapper-1VLyxH"][aria-label*="Do Not Disturb"]>svg[class="mask-1FEkla svg-2azL_l"] {
  filter: drop-shadow(0 0 7px var(--rs-dnd-color))!important;
}
div[class*="wrapper-1VLyxH"][aria-label*="Offline"]>svg[class="mask-1FEkla svg-2azL_l"] {
  filter: drop-shadow(0 0 14px var(--rs-offline-color))!important;
}
div[class*="wrapper-1VLyxH"][aria-label*="Idle"]>svg[class="mask-1FEkla svg-2azL_l"] {
  filter: drop-shadow(0 0 7px var(--rs-idle-color))!important;
}
div[class*="wrapper-1VLyxH"][aria-label*="Online"]>svg[class="mask-1FEkla svg-2azL_l"] {
  filter: drop-shadow(0 0 7px var(--rs-online-color))!important;
}
/*theme background image*/
.bg-1QIAus {
  background-image: var(--background-image);
  background-attachment: var(--background-attachment, fixed);
  background-size: var(--background-size, cover);
  background-position: var(--background-position, center);
}

/*remove those annoying shadow on top of the chats*/
.searchBar-3TnChZ, .header-3OsQeK {
  box-shadow: none;
}
.tabBody-2dgbAs:before {
display: none;
}
.content-1jQy2l:before {
display: none;
}
/*appearance theme preview*/
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] {
    display: flex;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98 {
    width: 134px;
    height: 88px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-outer-3), var(--background-primary-box-shadow-border);
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98:first-child {
    background: url("https://cdn.discordapp.com/attachments/934719923735904257/990556326943932446/unknown.png?size=4096") center/cover;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98:nth-child(2) {
    background: url("https://cdn.discordapp.com/attachments/934719923735904257/990556326746787840/unknown.png?size=4096") center/cover;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98:nth-child(3) {
    background: url("https://cdn.discordapp.com/attachments/934719923735904257/990559275145384007/chillax_sync.jpg?size=4096") center/cover, var(--background-primary);
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98 .radioBar-3w9XY- svg {
    display: none;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98 .radioBar-3w9XY- .info-2FZci4 {
    margin-right: 0;
    grid-gap: 0;
    text-align: center;
    transform: translateY(40px);
    pointer-events: none;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98 .radioBar-3w9XY- {
    height: 100%;
    align-items: flex-end;
    gap: 0;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98:last-child .info-2FZci4 .text-md-medium-2avxhQ {
    display: none;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) [role="radiogroup"] .item-2idW98:last-child .info-2FZci4::before {
    content: "Sync";
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
#appearance-tab.contentColumn-1C7as6> :not([class]):first-child>.children-1xdcWE>div:nth-child(2) .container-1zDvAE.marginTop20-2T8ZJx {
    margin-top: 50px;
}
/*ping design*/
.numberBadge-37OJ3S {
  padding: 5px 10px!important;
  background-color: #fe365c;
  box-shadow: 0px 0px 10px 2px #ff2d54;
}
/*chillax squad font and colour change*/
[href='https\:\/\/github.com/warrayquipsome/Chillax#author']{
  font-family: "Send Flowers";
  font-weight: 1000;
  color: transparent!important;
  background: conic-gradient(
    rgb(255, 106, 106) 12%, 
    rgb(219, 219, 219) 32%,
    rgb(255, 149, 83) 87%);
  background-size: 50%;
  background-clip: text!important;  
  -webkit-background-clip: text;
}
/*custom group name*/
.input-1nrc5P {
  -webkit-text-stroke: 1px #ffe9e9;
  color: transparent;
  overflow: visible!important;
  font-family: "Amatic SC"!important;
  letter-spacing: 0.2px;
  font-size: 25px;
}
/*user setting channel hover effect*/
.theme-light .selected-g-kMVV:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(0, 0, 0);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.selected-g-kMVV:hover:after { 
  width: 100%; 
  left: 0; 
}
/*Connection Issue Let Me Be*/
.container-2RRFHK {
background: transparent;
pointer-events: none;
}
.container-2RRFHK .anchor-1MIwyf { pointer-events: auto; }
.container-2RRFHK .content-3AIQZv .text-2bYgPB {
display:none;
}
.container-2RRFHK .ready-3BZNWT {
position: absolute;
bottom: 44px;
right: 244px;
z-index: 1;
}
.container-2RRFHK img, .container-2RRFHK video {
display: none;
}
.container-2RRFHK .problems-CvGwpb {
padding: 8px 16px;
bottom: 18px;
left: unset;
right: 18px;
width:fit-content;
height:fit-content;
background-color: var(--background-floating);
border-radius: 8px;
-webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
box-shadow: var(--elevation-stroke), var(--elevation-medium);
}
/*My guild is excited to mention me*/
.full-motion .listItem-3SmSlK.bd-guild.bd-badge .pill-2RsI5Q.bd-unread:not(.bd-selected) + div:not([class])  {
 animation-name: unreadguildbounce; 
 animation-delay: 1s; /* delay before begin bouncing */
 animation-duration: 1.5s; /* duration of each bounce */
 animation-iteration-count: 3; /* number of bounces */
}
@keyframes unreadguildbounce {
0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
40% {transform: translateY(calc(var(--guild-bounce-height) * -1));} 
60% {transform: translateY(calc(var(--guild-bounce-height) * -.5));} 
}
/*Better status*/
#status-picker-custom-status,
#status-picker #status-picker-custom-status+.separator-1So4YB+div {
flex: 1 1 100%;
}
#status-picker-online,
#status-picker-idle,
#status-picker-dnd,
#status-picker-invisible {
flex: 1 1 calc(25% - 2px);
display: flex;
justify-content: center;
height: 40px;
}
#status-picker-online .statusItem-2hiCNB,
#status-picker-idle .statusItem-2hiCNB,
#status-picker-dnd .statusItem-2hiCNB,
#status-picker-invisible .statusItem-2hiCNB {
width: fit-content;
display: flex;
padding: 0;
justify-content: center;
}
#status-picker .item-1OdjEX:not(#status-picker-custom-status, #status-picker-switch-account) .status-3TYC5W {
display: none;
}
#status-picker .description-3Cwkxk {
display: none;
}
#status-picker .separator-1So4YB {
display: none;
}
.statusItem-2hiCNB {
column-gap: 5px;
}
#status-picker .mask-2Me5HY {
height: 50%;
width: auto;
}
.item-1OdjEX foreignObject {
  mask: none;
}
.status-2DiCMd {
  border-radius: 8px!important;
  width: 6px!important;
  height: 6px!important;
  margin-left: 2px;
  margin-top: 2px;
}
/*tooltip animation*/
.tooltip-14MtrL.tooltipTop-1wv5UJ{
  -webkit-animation:cl-tooltip-animation-1 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  animation:cl-tooltip-animation-1 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin:50% 100%
}
.tooltip-14MtrL.tooltipBottom-2WzfVx{
  -webkit-animation:cl-tooltip-animation-1 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  animation:cl-tooltip-animation-1 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin:50% 0
}
.tooltip-14MtrL.tooltipRight-2TSb42{
  -webkit-animation:cl-tooltip-animation-2 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  animation:cl-tooltip-animation-2 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin:0 50%
}
.tooltip-14MtrL.tooltipLeft-3H43DQ{
  -webkit-animation:cl-tooltip-animation-2 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  animation:cl-tooltip-animation-2 .20s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin:100% 50%
}
@-webkit-keyframes cl-tooltip-animation-1{
  from{
    transform:rotateX(-90deg);
    opacity:0
  }
  to{
    transform:none;
    opacity:1
    }}
@keyframes cl-tooltip-animation-1{
  from{
    transform:rotateX(-90deg);
    opacity:0
  }
  to{
    transform:none;
    opacity:1
    }}
@-webkit-keyframes cl-tooltip-animation-2{
  from{
    transform:rotateY(-90deg);
    opacity:0
  }
  to{
    transform:none;
    opacity:1
    }}
@keyframes cl-tooltip-animation-2{
  from{
    transform:rotateY(-90deg);
    opacity:0
  }
  to{
    transform:none;
    opacity:1
  }}
/*Embeds*/
:root {
    --embed-border-radius: 3px;
}
.embed-hKpSrO {
    border-radius: var(--embed-border-radius);
}
.embed-hKpSrO code {
    background: rgb(36, 36, 36);
}
:root {
    --embed-line-width: 300px;
}
.embedFull-1HGV2S {
    border-left: calc(4px + var(--embed-line-width)) solid var(--background-accent);
    background: rgb(36, 36, 36);
}
.grid-1aWVsE {
    margin-left: calc( -1 * var(--embed-line-width));
    z-index: 1;
}
.embedFull-1HGV2S:after, .embedFull-1HGV2S:before {
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
    left: calc(-1 * var(--embed-line-width));
}
.embedFull-1HGV2S:after {
    background: linear-gradient(to right, transparent, rgb(36, 36, 36));
}
.embedFull-1HGV2S:before {
    background: rgb(36, 36, 36);
    opacity: .5;
}
 /* Settings/Deafen/Mute Buttons Animated */
.button-12Fmur:hover .contents-3ca1mk {
    animation:UserModalButtons 0.5s normal ease;
}

@keyframes UserModalButtons {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-5px);}
    100% {transform:translateY(0px);}
}
/*guild pills glow*/
.theme-light .item-2LIpTv {
  box-shadow: 0 0 3px rgb(0, 0, 0);
}
/*inline colour error fix*/
.theme-light .inline {
  background: rgba(184, 184, 184, 0.5)!important;
}
/*disable and delete account button design*/
.theme-light .colorRed-rQXKgM {
  font-size: 0px!important;
}
.theme-light .disableButton-3BR0Vj.colorRed-rQXKgM::before {
  content: "Disable";
  position: absolute;
  font-size: 11px!important;
  box-shadow: none!important;
}
.theme-light .lookOutlined-3yKVGo.colorRed-rQXKgM::before {
  content: "Delete";
  position: absolute;
  font-size: 11px!important;
}
.theme-light .colorRed-rQXKgM{
  width: 140px;
  height: 45px;
  font-family: 'Roboto'!important;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000!important;
  background-color: #fff!important;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }
.theme-light .colorRed-rQXKgM:hover {
  background-color: rgb(229, 46, 46)!important;
  box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
  color: #fff!important;
  transform: translateY(-7px);
}
/*seperator in settings*/
.theme-light .separator-2wx7h6 {
  background: rgb(63, 63, 63);
  height: 5.5px!important;
  border-radius: 8px!important;
}
/*avatar only memberlist*/
.membersWrap-3NUR2t {min-width: unset;}
.members-3WRCEx {max-width: 65px;min-width: 65px;transition: 0.5s ease;}
.members-3WRCEx:hover {max-width: 240px;min-width: 240px;}
div:not(:hover)>.members-3WRCEx>div {padding-top: 10px;}
