/* Header with channel name, search bar, and other icons */

/* Minified search bar */
:root {
    --transitionspeed: 0.25s;
}

.c322aadb96ff59c9-searchBar {
    border: none !important;
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open) .c322aadb96ff59c9-searchBar {
    width: 30px;
    transition: var(--transitionspeed);
    background-color: transparent;
}

.public-DraftEditorPlaceholder-root {
    transition: color var(--transitionspeed) ease;
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open):not(:hover) .public-DraftEditorPlaceholder-root {
    color: #0000;
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open):hover .c322aadb96ff59c9-searchBar {
    width: 244px;
    background-color: var(--background-tertiary);
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open) .iconContainer_effbe2 {
    transform: scale(1.1);
    transition: var(--transitionspeed);
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open):hover .iconContainer_effbe2 {
    transform: scale(1);
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open) .icon_effbe2 {
    color: var(--text-normal);
}

.c322aadb96ff59c9-search:not(.c322aadb96ff59c9-open):hover .icon_effbe2 {
    color: var(--text-muted);
}

.container__9293f.themed__9293f .search__49676 {
    order: -1 !important;
}

/*threads background fix*/
.container_d9c882 {
    backdrop-filter: blur(15px) !important;
}

html.theme-dark .container_d9c882 {
    background: #181a1da6 !important;
}

html.theme-light .container_d9c882 {
    background: rgb(223, 223, 223);
}

/* threads item hover */
.container__6764b:hover {
    background-color: #181a1d99;
}

/*pins / inbox background fix*/
.header_e8b59c {
    background-color: #0000;
}

.messagesPopoutWrap_e8b59c,
.recentMentionsPopout__95796,
.drawerSizingWrapper__08434 {
    backdrop-filter: blur(15px) !important;
}

html.theme-dark .messagesPopoutWrap_e8b59c,
html.theme-dark .recentMentionsPopout__95796,
html.theme-dark .drawerSizingWrapper__08434 {
    background: rgba(0, 0, 0, 0.3) !important;
}

html.theme-dark .messageGroupWrapper_e8b59c {
    background: #181a1da6;
}

html.theme-light .messagesPopoutWrap_e8b59c,
html.theme-light .recentMentionsPopout__95796,
html.theme-light .drawerSizingWrapper__08434 {
    background: rgb(223, 223, 223) !important;
}

/* Fix buttons on pins items */
.buttonContainer_e8b59c {
    background-color: #0000;
}

/* Inbox alignment fix */
.container__95796 {
    padding-left: 16px;
}

/* Inbox channel item background */
.channelHeader__35a7e {
    background-color: rgb(51, 49, 53) !important;
    border-radius: 8px;
}
