/* Styles for the main chat area as well as the channel list */

/*custom channel and text area font and size*/
.title_fc4f04 {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

.messageContent_f9f2ca,
.contents_f9f2ca {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

.markup_f8f345 h1, .markup_f8f345 h2, .markup_f8f345 h3, .markup_f8f345 h4, .markup_f8f345 h5, .markup_f8f345 h6 {
    font-family: var(--font-name);
}

/*custom new unreads*/
.bar_eba0ba {
    padding: 14px 50px;
}

/* Fixes position of unreads at the bottom of the channel list */
.bottom_eba0ba {
    transform: translateY(-85px);
}

.unreadIcon_eba0ba {
    display: none;
}

.text-xs-medium-2LRpEj {
    margin-left: 5px !important;
}

.text-xs-medium-2LRpEj:before {
    content: "▸ ";
}

.text-xs-medium-2LRpEj:after {
    content: " ◂";
}

/*remove unread with date*/ /*it causes issue with the theme*/
.hasContent_d5deea {
    display: none;
}

/* remove date divider */
.hasContent_c2654d {
    display: none;
}

/* Un-hide unread divider with date */
.isUnread_c2654d {
    display: flex !important;
}

/* Hide date in unread divider */
.content_c2654d {
    display: none;
}

/*custom unread style*/
.unreadPillCap_c2654d {
    display: none;
    right: 50%;
}

.unreadPill_c2654d {
    background-color: var(--background-shading);
    color: #fb5454;
    font-size: 12px;
    letter-spacing: 20px;
    right: 50%;
    left: 50%;
    width: 30px;
}

.isUnread_c2654d {
    --divider-color: rgb(237, 0, 255);
    border: none;
    background: linear-gradient(
            90deg,
            rgba(237, 0, 255, 1) 0%,
            #fb5454 25%,
            rgba(0, 0, 0, 0) 50%,
            #fb5454 75%,
            rgba(254, 0, 255, 1) 100%
    );
    height: 1px;
}

.unreadPill_c2654d {
    top: -6px;
}

/*message hover small buttons fix*/
html.theme-dark .wrapper_f7e168 {
    background: rgb(51, 49, 53) !important;
}

html.theme-light .wrapper_f7e168 {
    background: rgb(243, 243, 243) !important;
}

/*channel resize*/
.sidebar_a4d4d9 .name_d8bfb3 {
    font-size: 14px;
}

.sidebar_a4d4d9 .icon_d8bfb3 {
    width: 16px;
    height: 16px;
}