/* Styles for the main chat area as well as the channel list */

/*custom channel and text area font and size*/
._9293f6b2fc12398a-title {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

.messageContent_c19a55,
.contents_c19a55 {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

.markup__75297 h1, .markup__75297 h2, .markup__75297 h3, .markup__75297 h4, .markup__75297 h5, .markup__75297 h6 {
    font-family: var(--font-name);
}

/* custom "new unreads" pill */
.container__7aaec.bottom__7aaec {
    z-index: 9999 !important;
}

.bar__7aaec {
    padding: 14px 50px;
}

._7aaec78b97ff00f7-unreadIcon {
    display: none;
}

/* Unread divider */
.text-xs-medium-2LRpEj {
    margin-left: 5px !important;
}

.text-xs-medium-2LRpEj:before {
    content: "▸ ";
}

.text-xs-medium-2LRpEj:after {
    content: " ◂";
}

/*remove unread with date*/ /*it causes issue with the theme*/
.hasContent__5126c {
    display: none;
}

/* remove date divider */
._908e20001ad67812-hasContent {
    display: none;
}

/* Un-hide unread divider with date */
.isUnread__908e2 {
    display: flex !important;
}

/* Hide date in unread divider */
.content__908e2 {
    display: none;
}

/*custom unread divider style*/
.unreadPillCap__908e2 {
    display: none;
    right: 50%;
}

.unreadPill__908e2 {
    background-color: var(--background-shading);
    color: #fb5454;
    font-size: 12px;
    letter-spacing: 20px;
    right: 50%;
    left: 50%;
    width: 30px;
}

.isUnread__908e2 {
    --divider-color: rgb(237, 0, 255);
    border: none;
    background: linear-gradient(
            90deg,
            rgba(237, 0, 255, 1) 0%,
            #fb5454 25%,
            rgba(0, 0, 0, 0) 50%,
            #fb5454 75%,
            rgba(254, 0, 255, 1) 100%
    );
    height: 1px;
}

.unreadPill__908e2 {
    top: -6px;
}

/*message hover small buttons fix*/
html.theme-dark .wrapper_f7ecac {
    background: rgb(51, 49, 53) !important;
}

html.theme-light .wrapper_f7ecac {
    background: rgb(243, 243, 243) !important;
}

/*channel resize*/
.sidebar__5e434 .name__2ea32 {
    font-size: 14px;
}

.sidebar__5e434 .icon__2ea32 {
    width: 16px;
    height: 16px;
}

/* Video player controls */
.videoControls_cf09d8 {
    width: auto;
    margin: 15px;
    padding-bottom: 0px;
    border-radius: 8px;
    background-color: #000000f1;
    transform: none !important;
    transition: 0.2s;
}

.cf09d85aafe7e124-wrapperControlsHidden .videoControls_cf09d8 {
    margin-bottom: -30px;
}

/* user typing... but its edited*/
.dots-1BwzZQ {
    margin-right: 5px;
}

.base_b88801 .text_b88801 {
    display: flex;
    align-items: center;
}

.typing_b88801 {
    font-size: 0;
    /* Stop the chat messages from shifting when typing starts/stops */
    margin-top: -24px;
}

.typing_b88801 strong {
    font-size: 12px;
}

.typing_b88801 strong:after {
    content: ',';
    margin-right: 4px;
}

.typing_b88801 strong:nth-last-child(2)::after {
    content: 'and';
    margin: 0 4px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
}

.typing_b88801 strong:last-of-type::after {
    content: var(--chillax-input-typing-indicator-many-person);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
    margin-left: 4px;
}

.typing_b88801 strong:only-of-type::after {
    content: var(--chillax-input-typing-indicator-one-person);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
    margin-left: 4px;
}

/*chatbox recolour*/
.input-2g-os5,
.scrollableContainer__74017 {
    background-color: transparent !important;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    outline: none;
    border-radius: 15px;
}

.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017 {
    color: transparent !important;
}

html.theme-dark .input-2g-os5:hover,
html.theme-dark .scrollableContainer__74017:hover {
    background-color: #00000023 !important;
}

html.theme-light .input-2g-os5:hover,
html.theme-light .scrollableContainer__74017:hover {
    background-color: #ffffff23 !important;
}

/* attachedBars is the reply bar */
html.theme-dark .input-2g-os5:focus-within,
html.theme-dark .scrollableContainer__74017:focus-within {
    background-color: #181a1d !important;
    box-shadow: 0 5px 8px #15171a;
}

html.theme-light .input-2g-os5:focus-within,
html.theme-light .scrollableContainer__74017:focus-within {
    background-color: #e4e4e4 !important;
    box-shadow: 0 5px 8px #d6d6d6;
}

.message__5126c {
    border-radius: 8px !important;
}

.mentioned__5126c {
    border-radius: 0 8px 8px 0 !important
}

/*Textbox Text*/
.placeholder__1b31f {
    visibility: hidden !important;
}

.placeholder__1b31f::before {
    content: var(--chillax-input-field);
    font-family: "Poppins";
    font-size: 13px;
    visibility: visible !important;
}

html.theme-dark .placeholder__1b31f::before {
    color: rgba(255, 255, 255, 0.2);
}

html.theme-light .placeholder__1b31f::before {
    color: rgba(0, 0, 0, 0.2);
}

/* Change the message in the messagebox when you're restricted from sending messages in that channel. */
._740174f3d6a2c8fe-innerDisabled .placeholder__1b31f::before {
    content: var(--chillax-input-field-locked) !important;
}

/* Fix slight scroll when text box is empty */
.inner__74017 {
    overflow: hidden !important;
}

/* Apps button next to text box */
.button_e6e74f {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.button_e6e74f:hover {
    background-color: #00000023;
}

.e6e74fd4d1221f53-buttonActive {
    background-color: #181a1d;
}

/* Place typing indicator on top of message input box */
.form_f75fb0 {
    display: flex;
    flex-direction: column;
}

.form_f75fb0 > div:first-child {
    /* Input box order */
    order: 2;
}

.channelTextArea_f75fb0 {
    /* Remove margin for original typing indicator position */
    margin-bottom: calc(var(--space-8) - 2px);
}

/* When not focused, input box is transparent */
.visual-refresh .channelTextArea_f75fb0 {
    background: transparent !important;
}

.form_f75fb0:has(.base_b88801) .form_f75fb0 {
    /* Add margin to the top when typing/slowmode indicator is active */
    margin-top: var(--custom-chat-input-margin-bottom);
}

.base_b88801 {
    /* Indicator order */
    position: static;
    order: 1;
}

/* Background in reactions modal */
html.theme-dark .container__8a031 {
    background-color: #181a1d;
}

html.theme-light .container__8a031 {
    background-color: rgb(223, 223, 223);
}

/* Remove slowmode message */
.cooldownWrapper_b21699 {
    font-size: 0px;
}

/* Increase visibility of message highlight */
.backgroundFlash__5126c[style*="background-color: rgba(148, 156, 247, 0)"] {
    --message-background-flash: rgba(var(--accentcolor), 0.2) !important;
}

/* Make unread DM's highlighted based on accent color */
.link__972a0:has(._20a53846fe2e8513-highlighted) {
    border-left: 2px solid rgba(var(--accentcolor), 0.8);
    background: linear-gradient(
            90deg,
            rgba(var(--accentcolor), 0.3),
            rgba(var(--accentcolor), 0.2),
            transparent
    );
}

/* Right click menu blur */
html.theme-dark .menu_c1e9c4 {
    background-color: rgba(0, 0, 0, 0.3);
}

html.theme-light .menu_c1e9c4 {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu_c1e9c4::before,
.menu_c1e9c4.submenu-1apzyU::before {
    /*Blurs the menu*/
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    z-index: -1;
    border-radius: 5px;
}

/* Fix blur in nested floating menu */
.subc1e9c47c23f12ca3-menu.menu_c1e9c4::before {
    width: calc(100% - 16px);
}
