/* Styles for the main chat area as well as the channel list */

/*custom channel and text area font and size*/
._9293f6b2fc12398a-title {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

.c19a557985eb7793-messageContent,
.c19a557985eb7793-contents {
    font-family: var(--font-name);
    font-size: var(--font-size) !important;
}

._752971923a1e6683-markup h1, ._752971923a1e6683-markup h2, ._752971923a1e6683-markup h3, ._752971923a1e6683-markup h4, ._752971923a1e6683-markup h5, ._752971923a1e6683-markup h6 {
    font-family: var(--font-name);
}

/* custom "new unreads" pill */
._7aaec78b97ff00f7-container._7aaec78b97ff00f7-bottom {
    z-index: 9999 !important;
}

._7aaec78b97ff00f7-bar {
    padding: 14px 50px;
}

._7aaec78b97ff00f7-unreadIcon {
    display: none;
}

/* Unread divider */
.text-xs-medium-2LRpEj {
    margin-left: 5px !important;
}

.text-xs-medium-2LRpEj:before {
    content: "▸ ";
}

.text-xs-medium-2LRpEj:after {
    content: " ◂";
}

/*remove unread with date*/ /*it causes issue with the theme*/
._5126c0cd07f243a0-hasContent {
    display: none;
}

/* remove date divider */
._908e20001ad67812-hasContent {
    display: none;
}

/* Un-hide unread divider with date */
._908e20001ad67812-isUnread {
    display: flex !important;
}

/* Hide date in unread divider */
._908e20001ad67812-content {
    display: none;
}

/*custom unread divider style*/
._908e20001ad67812-unreadPillCap {
    display: none;
    right: 50%;
}

._908e20001ad67812-unreadPill {
    background-color: var(--background-shading);
    color: #fb5454;
    font-size: 12px;
    letter-spacing: 20px;
    right: 50%;
    left: 50%;
    width: 30px;
}

._908e20001ad67812-isUnread {
    --divider-color: rgb(237, 0, 255);
    border: none;
    background: linear-gradient(
            90deg,
            rgba(237, 0, 255, 1) 0%,
            #fb5454 25%,
            rgba(0, 0, 0, 0) 50%,
            #fb5454 75%,
            rgba(254, 0, 255, 1) 100%
    );
    height: 1px;
}

._908e20001ad67812-unreadPill {
    top: -6px;
}

/*message hover small buttons fix*/
html.theme-dark .f7ecaca5c80dbf3a-wrapper {
    background: rgb(51, 49, 53) !important;
}

html.theme-light .f7ecaca5c80dbf3a-wrapper {
    background: rgb(243, 243, 243) !important;
}

/*channel resize*/
._5e434347c823b592-sidebar ._2ea32c412048f708-name {
    font-size: 14px;
}

._5e434347c823b592-sidebar ._2ea32c412048f708-icon {
    width: 16px;
    height: 16px;
}

/* Video player controls */
.cf09d85aafe7e124-videoControls {
    width: auto;
    margin: 15px;
    padding-bottom: 0px;
    border-radius: 8px;
    background-color: #000000f1;
    transform: none !important;
    transition: 0.2s;
}

.cf09d85aafe7e124-wrapperControlsHidden .cf09d85aafe7e124-videoControls {
    margin-bottom: -30px;
}

/* user typing... but its edited*/
.dots-1BwzZQ {
    margin-right: 5px;
}

.b8880176888cc928-base .b8880176888cc928-text {
    display: flex;
    align-items: center;
}

.b8880176888cc928-typing {
    font-size: 0;
    /* Stop the chat messages from shifting when typing starts/stops */
    margin-top: -24px;
}

.b8880176888cc928-typing strong {
    font-size: 12px;
}

.b8880176888cc928-typing strong:after {
    content: ',';
    margin-right: 4px;
}

.b8880176888cc928-typing strong:nth-last-child(2)::after {
    content: 'and';
    margin: 0 4px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
}

.b8880176888cc928-typing strong:last-of-type::after {
    content: var(--chillax-input-typing-indicator-many-person);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
    margin-left: 4px;
}

.b8880176888cc928-typing strong:only-of-type::after {
    content: var(--chillax-input-typing-indicator-one-person);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: -5px;
    margin-left: 4px;
}

/*chatbox recolour*/
.input-2g-os5,
._740174f3d6a2c8fe-scrollableContainer {
    background-color: transparent !important;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    outline: none;
    border-radius: 15px;
}

._1b31f471f0bb10ab-placeholder.ec4baf0360ff3578-slateTextArea.fontSize16Padding__74017 {
    color: transparent !important;
}

html.theme-dark .input-2g-os5:hover,
html.theme-dark ._740174f3d6a2c8fe-scrollableContainer:hover {
    background-color: #00000023 !important;
}

html.theme-light .input-2g-os5:hover,
html.theme-light ._740174f3d6a2c8fe-scrollableContainer:hover {
    background-color: #ffffff23 !important;
}

/* attachedBars is the reply bar */
html.theme-dark .input-2g-os5:focus-within,
html.theme-dark ._740174f3d6a2c8fe-scrollableContainer:focus-within {
    background-color: #181a1d !important;
    box-shadow: 0 5px 8px #15171a;
}

html.theme-light .input-2g-os5:focus-within,
html.theme-light ._740174f3d6a2c8fe-scrollableContainer:focus-within {
    background-color: #e4e4e4 !important;
    box-shadow: 0 5px 8px #d6d6d6;
}

._5126c0cd07f243a0-message {
    border-radius: 8px !important;
}

._5126c0cd07f243a0-mentioned {
    border-radius: 0 8px 8px 0 !important
}

/*Textbox Text*/
._1b31f471f0bb10ab-placeholder {
    visibility: hidden !important;
}

._1b31f471f0bb10ab-placeholder::before {
    content: var(--chillax-input-field);
    font-family: "Poppins";
    font-size: 13px;
    visibility: visible !important;
}

html.theme-dark ._1b31f471f0bb10ab-placeholder::before {
    color: rgba(255, 255, 255, 0.2);
}

html.theme-light ._1b31f471f0bb10ab-placeholder::before {
    color: rgba(0, 0, 0, 0.2);
}

/* Change the message in the messagebox when you're restricted from sending messages in that channel. */
._740174f3d6a2c8fe-innerDisabled ._1b31f471f0bb10ab-placeholder::before {
    content: var(--chillax-input-field-locked) !important;
}

/* Fix slight scroll when text box is empty */
._740174f3d6a2c8fe-inner {
    overflow: hidden !important;
}

/* Apps button next to text box */
.e6e74fd4d1221f53-button {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.e6e74fd4d1221f53-button:hover {
    background-color: #00000023;
}

.e6e74fd4d1221f53-buttonActive {
    background-color: #181a1d;
}

/* Place typing indicator on top of message input box */
.f75fb00fb7356cbe-form {
    display: flex;
    flex-direction: column;
}

.f75fb00fb7356cbe-form > div:first-child {
    /* Input box order */
    order: 2;
}

.f75fb00fb7356cbe-channelTextArea {
    /* Remove margin for original typing indicator position */
    margin-bottom: calc(var(--space-8) - 2px);
}

/* When not focused, input box is transparent */
.visual-refresh .f75fb00fb7356cbe-channelTextArea {
    background: transparent !important;
}

.f75fb00fb7356cbe-form:has(.b8880176888cc928-base) .f75fb00fb7356cbe-form {
    /* Add margin to the top when typing/slowmode indicator is active */
    margin-top: var(--custom-chat-input-margin-bottom);
}

.b8880176888cc928-base {
    /* Indicator order */
    position: static;
    order: 1;
}

/* Background in reactions modal */
html.theme-dark ._8a031a135bfcb9ba-container {
    background-color: #181a1d;
}

html.theme-light ._8a031a135bfcb9ba-container {
    background-color: rgb(223, 223, 223);
}

/* Remove slowmode message */
.b216994de061a9e2-cooldownWrapper {
    font-size: 0px;
}

/* Increase visibility of message highlight */
._5126c0cd07f243a0-backgroundFlash[style*="background-color: rgba(148, 156, 247, 0)"] {
    --message-background-flash: rgba(var(--accentcolor), 0.2) !important;
}

/* Make unread DM's highlighted based on accent color */
._972a0d22c8afa7f0-link:has(._20a53846fe2e8513-highlighted) {
    border-left: 2px solid rgba(var(--accentcolor), 0.8);
    background: linear-gradient(
            90deg,
            rgba(var(--accentcolor), 0.3),
            rgba(var(--accentcolor), 0.2),
            transparent
    );
}

/* Right click menu blur */
html.theme-dark .c1e9c47c23f12ca3-menu {
    background-color: rgba(0, 0, 0, 0.3);
}

html.theme-light .c1e9c47c23f12ca3-menu {
    background-color: rgba(255, 255, 255, 0.3);
}

.c1e9c47c23f12ca3-menu::before,
.c1e9c47c23f12ca3-menu.submenu-1apzyU::before {
    /*Blurs the menu*/
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
    z-index: -1;
    border-radius: 5px;
}

/* Fix blur in nested floating menu */
.subc1e9c47c23f12ca3-menu.c1e9c47c23f12ca3-menu::before {
    width: calc(100% - 16px);
}
