:root {
    --embed-border-radius: 5px;
}

html.theme-dark ._623de82e76ad7f82-embed code {
    background: rgb(51, 50, 53);
}

html.theme-light ._623de82e76ad7f82-embed code {
    background: rgb(221, 221, 221);
}

._623de82e76ad7f82-embedFull {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

html.theme-dark ._623de82e76ad7f82-embedFull {
    background: rgb(51, 50, 53);
    box-shadow: 2px 2px 8px rgb(42, 42, 46);
}

html.theme-light ._623de82e76ad7f82-embedFull {
    background: rgb(221, 221, 221);
    box-shadow: 2px 2px 8px rgb(199, 199, 199);
}

._623de82e76ad7f82-grid {
    z-index: 1;
}

._623de82e76ad7f82-embedFull:after,
._623de82e76ad7f82-embedFull:before {
    content: "";
    height: 100%;
    width: var(--embed-line-width);
    position: absolute;
    top: 0;
}

._623de82e76ad7f82-embedFull:after {
    z-index: -3;
}

html.theme-dark ._623de82e76ad7f82-embedFull:after {
    background: linear-gradient(to right, transparent, rgb(51, 50, 53));
}

html.theme-light ._623de82e76ad7f82-embedFull:after {
    background: linear-gradient(to right, transparent, rgb(221, 221, 221));
}

._623de82e76ad7f82-embedFull:before {
    opacity: 0.8;
    z-index: -1;
}

html.theme-dark ._623de82e76ad7f82-embedFull:before {
    background: rgb(51, 50, 53);
}

html.theme-light ._623de82e76ad7f82-embedFull:before {
    background: rgb(221, 221, 221);
}