/*emoji/gif/sticker tab fix, and right-click reaction menu*/
.drawerSizingWrapper_af5dbb,
.wrapper_c6ee36 {
    backdrop-filter: blur(15px) !important;
    border-radius: 5px;
}

html.theme-dark .drawerSizingWrapper_af5dbb,
html.theme-dark .wrapper_c6ee36 {
    background: #18191ba6 !important;
}

html.theme-light .drawerSizingWrapper_af5dbb,
html.theme-light .wrapper_c6ee36 {
    background: #d4def1a6 !important;
}

/* Disable double background in emoji/gif/sticker tab menu */
.drawerSizingWrapper_af5dbb .wrapper_c6ee36 {
    background: transparent !important;
    backdrop-filter: none !important;
    border-radius: 0;
}

html.theme-dark .unicodeShortcut_dfa278,
html.theme-dark .standardStickerShortcut_a7a485 {
    background: #292b2f;
}

html.theme-light .unicodeShortcut_dfa278,
html.theme-light .standardStickerShortcut_a7a485 {
    background: #ebedef;
}

.emojiItem_fbfedd.emojiItemSelected_fbfedd {
    background-color: #18191b90;
}

/*emoji tab design n fix*/
.nav_af5dbb > .navList_af5dbb > button {
    flex: auto;
    bottom: 20px;
    line-height: 45px;
    margin: 0;
    border-radius: 0;
}

html.theme-dark .nav_af5dbb > .navList_af5dbb > button {
    background: #333135;
}

html.theme-light .nav_af5dbb > .navList_af5dbb > button {
    background: #ebedef;
}

.inspector_c6ee36 {
    border-radius: 8px;
    margin: 10px;
    width: 95%
}

.unicodeShortcut_dfa278 {
    border-radius: 8px;
    margin: 12px;
    margin-left: 5px;
    top: 330px !important;
    width: 85%;
}

html.theme-dark .nav_af5dbb > .navList_af5dbb > button:hover {
    background: rgba(255, 255, 255, 0.2);
}

html.theme-light .nav_af5dbb > .navList_af5dbb > button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.nav_af5dbb {
    padding: 0;
}