/*emoji/gif/sticker tab fix, and right-click reaction menu*/
._084343c4f11eaaab-drawerSizingWrapper,
.c0e32c5cffed3d9f-wrapper {
    backdrop-filter: blur(15px) !important;
    border-radius: 5px;
}

html.theme-dark ._084343c4f11eaaab-drawerSizingWrapper,
html.theme-dark .c0e32c5cffed3d9f-wrapper {
    background: #18191ba6 !important;
}

html.theme-light ._084343c4f11eaaab-drawerSizingWrapper,
html.theme-light .c0e32c5cffed3d9f-wrapper {
    background: #d4def1a6 !important;
}

/* Disable double background in emoji/gif/sticker tab menu */
._084343c4f11eaaab-drawerSizingWrapper .c0e32c5cffed3d9f-wrapper {
    background: transparent !important;
    backdrop-filter: none !important;
    border-radius: 0;
}

html.theme-dark .b9ee0c229bc0b6bb-unicodeShortcut,
html.theme-dark ._3ad28b0867fa3fad-standardStickerShortcut {
    background: #292b2f;
}

html.theme-light .b9ee0c229bc0b6bb-unicodeShortcut,
html.theme-light ._3ad28b0867fa3fad-standardStickerShortcut {
    background: #ebedef;
}

.fc7141859aaa98b7-emojiItem.fc7141859aaa98b7-emojiItemSelected {
    background-color: #18191b90;
}

/*emoji tab design n fix*/
._084343c4f11eaaab-nav > ._084343c4f11eaaab-navList > button {
    flex: auto;
    bottom: 20px;
    line-height: 45px;
    margin: 0;
    border-radius: 0;
}

html.theme-dark ._084343c4f11eaaab-nav > ._084343c4f11eaaab-navList > button {
    background: #333135;
}

html.theme-light ._084343c4f11eaaab-nav > ._084343c4f11eaaab-navList > button {
    background: #ebedef;
}

.c0e32c5cffed3d9f-inspector {
    border-radius: 8px;
    margin: 10px;
    width: 95%
}

.b9ee0c229bc0b6bb-unicodeShortcut {
    border-radius: 8px;
    margin: 12px;
    margin-left: 5px;
    top: 330px !important;
    width: 85%;
}

html.theme-dark ._084343c4f11eaaab-nav > ._084343c4f11eaaab-navList > button:hover {
    background: rgba(255, 255, 255, 0.2);
}

html.theme-light ._084343c4f11eaaab-nav > ._084343c4f11eaaab-navList > button:hover {
    background: rgba(0, 0, 0, 0.2);
}

._084343c4f11eaaab-nav {
    padding: 0;
}