/*floating user controls*/
.container__37e49 {
    background: transparent !important;
}

.panels_c48ade {
    border-radius: 12px;
    margin: 10px;
}

html.theme-dark .panels_c48ade {
    background: #181a1d !important;
    box-shadow: 0 5px 8px #15171a;
}

html.theme-light .panels_c48ade {
    background: #e4e4e4 !important;
    box-shadow: 0 5px 8px #d6d6d6;
}

.sidebar_c48ade {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

html.theme-dark .sidebar_c48ade .content__99f8c:after {
    color: rgba(255, 255, 255, 0.03);
    text-shadow: 0 0 15px #000;
}

html.theme-light .sidebar_c48ade .content__99f8c:after {
    color: rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

.panels_c48ade > .container__37e49 .flex__7c0ba > :not(:last-child) {
    opacity: 0 !important;
    width: 50px;
    transition: all 0.3s;
}

.panels_c48ade > .container__37e49:hover .flex__7c0ba > :not(:last-child) {
    opacity: 100% !important;
    width: 40px;
    margin-left: 10px;
}

.button__67645[aria-label="User Settings"] {
    margin-left: 10px;
}

.container-6sXIoE .alignStretch_abf706.flex_abf706 {
    max-width: 190px;
    min-width: 190px;
}

.details-ntX2k5 {
    max-width: 805px !important;
    min-width: 805px !important;
}

.maximized-vv2Wr0 .details-ntX2k5 {
    max-width: 190px !important;
    min-width: 190px !important;
    position: relative;
    display: block;
    left: 0;
}

.maximized-vv2Wr0 .cover-SwJ-ck {
    border-radius: 8px 8px 0px 0px;
}

/* Avatar in bottom left */
.avatarWrapper__37e49 {
    max-width: 36px;
    min-width: 36px;
    transition: 0.3s;
}

.avatarWrapper__37e49:hover {
    max-width: 207px;
    min-width: 207px;
    transition: 0.3s;
}


/* Fix for Vencord Game Activity Toggle Plugin */

.container__37e49:has(button[aria-label='Enable Game Activity']) > :first-child {
    min-width: 36px !important;
}

.container__37e49:has(button[aria-label='Enable Game Activity']) > :first-child:hover {
    min-width: 207px !important;
}

.panels_c48ade > .container__37e49:has(button[aria-label='Enable Game Activity']) .flex__7c0ba > :not(:last-child) {
    width: 38px !important;
}

.panels_c48ade > .container__37e49:has(button[aria-label='Enable Game Activity']):hover .flex__7c0ba > :not(:last-child) {
    margin-left: 0px !important;
}

.container__37e49:has(button[aria-label='Disable Game Activity']) > :first-child {
    min-width: 36px !important;
}

.container__37e49:has(button[aria-label='Disable Game Activity']) > :first-child:hover {
    min-width: 207px !important;
}

.panels_c48ade > .container__37e49:has(button[aria-label='Disable Game Activity']) .flex__7c0ba > :not(:last-child) {
    width: 38px !important;
}

.panels_c48ade > .container__37e49:has(button[aria-label='Disable Game Activity']):hover .flex__7c0ba > :not(:last-child) {
    margin-left: 0 !important;
}

/* End of the if*/

/*user setting icon spin*/
.button__67645:last-child:hover path[d="M10.56 1.1c-.46.05-.7.53-.64.98.18 1.16-.19 2.2-.98 2.53-.8.33-1.79-.15-2.49-1.1-.27-.36-.78-.52-1.14-.24-.77.59-1.45 1.27-2.04 2.04-.28.36-.12.87.24 1.14.96.7 1.43 1.7 1.1 2.49-.33.8-1.37 1.16-2.53.98-.45-.07-.93.18-.99.64a11.1 11.1 0 0 0 0 2.88c.06.46.54.7.99.64 1.16-.18 2.2.19 2.53.98.33.8-.14 1.79-1.1 2.49-.36.27-.52.78-.24 1.14.59.77 1.27 1.45 2.04 2.04.36.28.87.12 1.14-.24.7-.95 1.7-1.43 2.49-1.1.8.33 1.16 1.37.98 2.53-.07.45.18.93.64.99a11.1 11.1 0 0 0 2.88 0c.46-.06.7-.54.64-.99-.18-1.16.19-2.2.98-2.53.8-.33 1.79.14 2.49 1.1.27.36.78.52 1.14.24.77-.59 1.45-1.27 2.04-2.04.28-.36.12-.87-.24-1.14-.96-.7-1.43-1.7-1.1-2.49.33-.8 1.37-1.16 2.53-.98.45.07.93-.18.99-.64a11.1 11.1 0 0 0 0-2.88c-.06-.46-.54-.7-.99-.64-1.16.18-2.2-.19-2.53-.98-.33-.8.14-1.79 1.1-2.49.36-.27.52-.78.24-1.14a11.07 11.07 0 0 0-2.04-2.04c-.36-.28-.87-.12-1.14.24-.7.96-1.7 1.43-2.49 1.1-.8-.33-1.16-1.37-.98-2.53.07-.45-.18-.93-.64-.99a11.1 11.1 0 0 0-2.88 0ZM16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"] {
    animation: Settings 1s;
    transform-origin: center;
}

.button__67645:last-child path[d="M10.56 1.1c-.46.05-.7.53-.64.98.18 1.16-.19 2.2-.98 2.53-.8.33-1.79-.15-2.49-1.1-.27-.36-.78-.52-1.14-.24-.77.59-1.45 1.27-2.04 2.04-.28.36-.12.87.24 1.14.96.7 1.43 1.7 1.1 2.49-.33.8-1.37 1.16-2.53.98-.45-.07-.93.18-.99.64a11.1 11.1 0 0 0 0 2.88c.06.46.54.7.99.64 1.16-.18 2.2.19 2.53.98.33.8-.14 1.79-1.1 2.49-.36.27-.52.78-.24 1.14.59.77 1.27 1.45 2.04 2.04.36.28.87.12 1.14-.24.7-.95 1.7-1.43 2.49-1.1.8.33 1.16 1.37.98 2.53-.07.45.18.93.64.99a11.1 11.1 0 0 0 2.88 0c.46-.06.7-.54.64-.99-.18-1.16.19-2.2.98-2.53.8-.33 1.79.14 2.49 1.1.27.36.78.52 1.14.24.77-.59 1.45-1.27 2.04-2.04.28-.36.12-.87-.24-1.14-.96-.7-1.43-1.7-1.1-2.49.33-.8 1.37-1.16 2.53-.98.45.07.93-.18.99-.64a11.1 11.1 0 0 0 0-2.88c-.06-.46-.54-.7-.99-.64-1.16.18-2.2-.19-2.53-.98-.33-.8.14-1.79 1.1-2.49.36-.27.52-.78.24-1.14a11.07 11.07 0 0 0-2.04-2.04c-.36-.28-.87-.12-1.14.24-.7.96-1.7 1.43-2.49 1.1-.8-.33-1.16-1.37-.98-2.53.07-.45-.18-.93-.64-.99a11.1 11.1 0 0 0-2.88 0ZM16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"] {
    animation: Settings2 1s;
    transform-origin: center;
}

/* Settings/Deafen/Mute Buttons Animated */
.button__67645:hover .contents__201d5 {
    animation: UserModalButtons 0.5s normal ease;
}

@keyframes UserModalButtons {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-3px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes Settings {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

@keyframes Settings2 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}


/*Custom SpotifyControl in user panel for BetterDiscord*/
.container_6sXIoE.withTimeline_824fT_ {
    height: var(--playerHeight);
    border: none !important;
    padding: var(--paddingSides) var(--paddingSides) 10px var(--paddingSides) !important;
    margin: 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    overflow: hidden;
    z-index: 999;
}

.container_6sXIoE.withTimeline_824fT_.maximized_vv2Wr0 {
    --albumCoverRadius: 10px !important;
    --paddingSides: 15px !important;
    --playerHeight: auto !important;
    padding-top: 5px !important;
}

.container_6sXIoE.withTimeline_824fT_.maximized_vv2Wr0 .cover_SwJ-ck {
    border-radius: 8px;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) {
    --paddingSides: 18px !important;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .coverWrapper_YAplwJ {
    width: calc(100% - ((var(--paddingSides) - 8px) * 2));
    height: 75px;
    margin: 0;
    position: absolute;
    inset: 10px 0 0 10px;
    overflow: hidden;
    z-index: -1;
    transition: none;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .cover_SwJ-ck {
    --extraExpansion: 20px;
    width: calc(100% + var(--extraExpansion));
    height: calc(100% + var(--extraExpansion));
    position: relative;
    inset: calc((var(--extraExpansion) / 2) * -1) 0 0 calc((var(--extraExpansion) / 2) * -1);
    filter: blur(2px);
    opacity: 0.5;
    pointer-events: none;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .maximizer_RVu85p {
    width: 150%;
    height: 10px;
    left: -38px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 0;
    transform: none;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .maximizer_RVu85p > * {
    transform: rotate(90deg);
}

.container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .bar_g2ZMIm:before, .container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .bar_g2ZMIm:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    inset: 0 auto auto 0;
    transition: opacity 50ms ease-out;
}

.container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .bar_g2ZMIm:before {
    opacity: 0.4;
    z-index: -1;
}

html.theme-dark .container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .bar_g2ZMIm:before {
    background-color: rgba(255, 255, 255, 0.6);
}

html.theme-light .container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .bar_g2ZMIm:before {
    background-color: rgba(0, 0, 0, 0.6);
}

html.theme-dark .container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .barFill_Dhkah7 {
    background: rgb(255, 255, 255) !important;
}

html.theme-light .container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .barFill_Dhkah7 {
    background: rgb(0, 0, 0) !important;
}

.container_6sXIoE.withTimeline_824fT_ .timeline_UWmgAx .grabber_7sd5f5 {
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/Glow_Squid_BE1.gif");
    background-size: cover;
    transform: rotate(90deg);
    border-radius: 0;
    margin-left: -24px;
    position: absolute;
    inset: -8px 0 0 0;
    display: block !important;
}

.container_6sXIoE.withTimeline_824fT_ button {
    margin: 0 !important;
    transition: transform 50ms ease-out;
}

.container_6sXIoE.withTimeline_824fT_ button:active {
    transform: translateY(2px);
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) {
    --albumCoverRadius: 8px !important;
    --paddingSides: 18px !important;
    --playerHeight: 100px !important;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .inner_WRV6k5 {
    height: 35px;
    overflow: hidden;
}

.container_6sXIoE.withTimeline_824fT_:not(.maximized_vv2Wr0) .coverWrapper_YAplwJ {
    width: calc(100% - (var(--paddingSides) - 8px) * 2);
    height: calc(var(--playerHeight) - 12px);
    margin: 0;
    position: absolute;
    inset: 10px 0 0 10px;
    overflow: hidden;
    z-index: -1;
}

/* Custom Spotify controls for Vencord */
#vc-spotify-player {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    border-bottom-color: transparent;
    --vc-spotify-green: var(--accentcolorV2);
}

html.theme-dark #vc-spotify-player {
    background-color: #181a1d !important;
}

html.theme-light #vc-spotify-player {
    background-color: #e4e4e4 !important;
}

#vc-spotify-player::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--vc-spotify-track-image);
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    opacity: .6;
    z-index: 0;
}

#vc-spotify-info-wrapper {
    height: auto;
}

#vc-spotify-titles {
    padding: 0;
}

#vc-spotify-song-title,
.vc-spotify-artist,
.vc-spotify-album {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#vc-spotify-song-title {
    font-size: 18px;
    margin-bottom: 4px;
}

.vc-spotify-artist,
.vc-spotify-album {
    font-size: 14px;
}

.vc-spotify-button-row {
    width: fit-content;
    align-self: center;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease;
    order: 1;
    z-index: 1;
}

#vc-spotify-player:hover .vc-spotify-button-row {
    height: 32px;
}

#vc-spotify-progress-bar {
    order: 2;
    z-index: 1;
}

.vc-spotify-button {
    --interactive-normal: #FFFFFF;
    --interactive-hover: #FFFFFF;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.6));
}

.vc-spotify-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.vc-spotify-progress-time {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#vc-spotify-progress-bar > [class^=slider] [class^=grabber] {
    width: 25px !important;
    height: 25px !important;
    background-color: transparent;
    background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/0/0c/Glow_Squid_BE1.gif");
    background-size: cover;
    border: none;
    transform: rotate(90deg);
    margin-left: -16px;
    inset: 3px 0 0 0px;
    box-shadow: none;
}

/* Transparent album image to preserve onClick functionality */
#vc-spotify-album-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#vc-spotify-info-wrapper {
    position: static
}

#vc-spotify-titles > * {
    z-index: 2;
    max-width: 100%;
    width: auto;
}

/* Handle expanded album image */

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) {
    position: relative;
    aspect-ratio: 1/1;
}

#vc-spotify-album-expanded-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1/1;
}

#vc-spotify-album-expanded-wrapper > #vc-spotify-album-image {
    opacity: 1;
    z-index: 1;
}

#vc-spotify-player:has(#vc-spotify-album-expanded-wrapper) .vc-spotify-button-row {
    margin-top: auto;
}

/* Re-order elements to put spotify player at the top */
.panels_c48ade {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

#vc-spotify-player {
    order: 1;
}

/* TODO BetterDiscord player */

.panel__5dec7 {
    /* Game activity */
    order: 2;
    background-color: transparent !important;
}

.wrapper_e131a9 {
    /* Voice chat controls */
    order: 3;
}

.container_e131a9 {
    /* Voice chat controls */
    background-color: transparent !important;
}

.container__37e49 {
    /* Profile */
    order: 10;
}