/* Wordmark */
.c38106a3f0c3ca76-bar {
    padding: 2px 0 2px 0;
}

.c38106a3f0c3ca76-leading::before {
    content: "‏‏‎ c h i l l a x";
    font-size: 12px;
    font-weight: 900;
    font-family: "Poiret one" !important;
    background: var(--window-colour);
    backdrop-filter: blur(var(--window-blur));
    border-radius: 5px;
    padding: 10px 11px 10px 7px;
    margin-left: var(--window-margin);
    pointer-events: all;
    transition: 0.5s ease-in-out;
    color: var(--text-normal);
}

.c38106a3f0c3ca76-leading:hover::before {
    content: "‏‏‎ c h i l l a x";
    letter-spacing: 2px;
}

/* Server name in title bar */
.title__85643 {
    padding: 4px 6px;
    border-radius: 5px;
    background: var(--window-colour);
    backdrop-filter: blur(var(--window-blur)) !important;
}

/* Title bar buttons */
.c38106a3f0c3ca76-trailing {
    margin-right: var(--window-margin);
}

.recentsIcon_c99c29,
.c38106a3f0c3ca76-trailing > .anchor_edefb8,  /* Help button */
.c38106a3f0c3ca76-trailing > .c99c29809d200a61-clickable,  /* Inbox button */
.c38106a3f0c3ca76-trailing > ._9293f6b2fc12398a-clickable,  /* Snapshot button */
.c38106a3f0c3ca76-winButtons > div {
    height: var(--space-32);
    background: var(--window-colour);
    backdrop-filter: blur(var(--window-blur));
    transition: 0.2s;
    border-radius: var(--window-border-radius);
}

.recentsIcon_c99c29:hover,
.c38106a3f0c3ca76-trailing > .anchor_edefb8:hover,  /* Help button */
.c38106a3f0c3ca76-trailing > .c99c29809d200a61-clickable:hover,  /* Inbox button */
.c38106a3f0c3ca76-trailing > ._9293f6b2fc12398a-clickable:hover,  /* Snapshot button */
.c38106a3f0c3ca76-winButtons > div:hover {
    background: transparent;
    transition: 0.1s;
    backdrop-filter: none;
}

/* Make min/max/close connected */
.c38106a3f0c3ca76-winButtons {
    gap: 0;
}

.c38106a3f0c3ca76-winButton:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.c38106a3f0c3ca76-winButton:nth-child(2) {
    border-radius: 0;
}

.c38106a3f0c3ca76-winButton:nth-child(3) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Rotate on hover effect */
.c38106a3f0c3ca76-winButton > svg {
    transition: 0.1s;
}

.c38106a3f0c3ca76-winButton:hover > svg {
    transform: rotate(45deg);
}

/* Keep some spacing between the edge when window margin is close to 0px */
.c38106a3f0c3ca76-trailing {
    margin-right: calc(max(var(--window-margin), 4px));
}

.c38106a3f0c3ca76-leading::before {
    margin-left: calc(max(var(--window-margin), 4px));
}