/*avatar only memberlist*/

.membersWrap_cbd271 {
    transition: transform 0.5s ease;
    margin-left: -180px;
    transform: translate(180px);
}

.membersWrap_cbd271:hover {
    transform: none;
}

.members_cbd271 {
    z-index: 1;
}

div:not(:hover) > .members_cbd271 > div {
    padding-top: 10px;
}

/* Make the member list expand on top of the chat instead of shifting it */
.members_cbd271 {
    background-color: #0000;
    transition: 0.5s ease;
}

.members_cbd271:hover {
    border-radius: var(--memberlist-border-radius) 0 0 var(--memberlist-border-radius);
}

.theme-light .members_cbd271:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.theme-dark .members_cbd271:hover {
    background-color: #181a1ddd;
}

/* Make the list fill the window height */
.membersWrap_cbd271 {
    height: 100%;
}

/* Fix the member count addon (vencord) */
.members_cbd271:not(:hover) .vc-membercount-online-dot,
.members_cbd271:not(:hover) .vc-membercount-total-dot {
    display: none !important;
}

.members_cbd271:not(:hover) > .vc-membercount-member-list > div {
    box-sizing: border-box !important;
    flex: 1 0 100%;
}

.members_cbd271:not(:hover) > .vc-membercount-member-list {
    flex-wrap: wrap;
}

/* Avatar only member list activity section visual improvement */
.members_cbd271:not(:hover) .badgesContainer_d60c6d {
    display: none;
}

.members_cbd271:not(:hover) .userSection_c64476 {
    display: none;
}

.members_cbd271:not(:hover) .container_c64476 {
    margin-left: -5px;
}

/* Avatar-only DM profile */
/* .outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) is the only way to select just the DM profile area */
.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) {
  /* Main transform */
  transform: translate(275px);
  margin-left: -275px;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b),
.inner_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) {
  transition: transform 0.5s ease, border-radius 0.5s ease;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover,
.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover .inner_c69a7b {
  transform: none;
  border-radius: var(--memberlist-border-radius) 0 0 var(--memberlist-border-radius);
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .banner_d5fdb1 {
  transition: border-radius 0.5s ease;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover .banner_d5fdb1 {
  border-top-left-radius: var(--memberlist-border-radius);
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .avatar_f94206 {
  /* Move profile picture out to still be visible when collapsed */
  transform: translate(-56px);
  transition: transform 0.5s ease;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover .avatar_f94206 {
  transform: none;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .none_c49869,
.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .inner_c69a7b {
  /* Disable scrolling to allow profile to overflow the outer element */
  overflow: visible !important;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .body_a972fe,
.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b) .overlay_c69a7b {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover .body_a972fe,
.outer_c69a7b:not(.fullSize_c69a7b):not(.biteSize_c69a7b):hover .overlay_c69a7b {
  opacity: 1;
}