.membersWrap_cbd271 {
    transition: transform 0.5s ease;
    /* Shrink width by avatar width plus various padding (8px + 8px + XS space) */
    --member-list-collapsed-width: calc(32px + 2 * (16px + var(--space-xs)));
    --member-list-collapsed-transform: calc((var(--custom-member-list-width) - var(--member-list-collapsed-width)));
    margin-left: calc(-1 * var(--member-list-collapsed-transform));
    transform: translateX(var(--member-list-collapsed-transform));
}

.membersWrap_cbd271:hover {
    transform: none;
}

.members_cbd271 {
    z-index: 1;
}

div:not(:hover) > .members_cbd271 > div {
    padding-top: 10px;
}

.members_cbd271 {
    background-color: #0000;
    transition: 0.5s ease;
}

.members_cbd271:hover {
    border-radius: var(--memberlist-border-radius) 0 0 var(--memberlist-border-radius);
    /*margin-right: 15px;*/
    margin-bottom: 15px;
}

/*We could for instance let user control the color via a css var*/
.theme-light .members_cbd271:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.theme-dark .members_cbd271:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}

/* Make the list fill the window height */
.membersWrap_cbd271 {
    height: 100%;
}

/* Realign headers to be more visible when collapsed */
.membersGroup_cbd271 {
    transition: padding 0.5s ease;
}

.membersWrap_cbd271:not(:hover) .membersGroup_cbd271 {
    padding-left: 2px;
}

.member_a31c43 {
    background-color: transparent;
}

/* Member list activity widget */
.contentImage__42bf5 {
    transition: transform 0.5s ease;
}

.membersWrap_cbd271:not(:hover) .contentImage__42bf5 {
    /* Undo expanded spacing and normal list width, then apply collapsed list width and necessary spacing to center the icon */
    transform: translateX(calc(18px - var(--custom-member-list-width) + var(--member-list-collapsed-width) - ((var(--member-list-collapsed-width) - 48px) / 2)));
}

.container_c64476 {
    transition: background-color 0.5s ease, border-color 0.5s ease;
}

.membersWrap_cbd271:not(:hover) .container_c64476 {
    background-color: transparent;
    border-color: transparent;
}

.container__7641b {
    background: transparent !important;
    border: none !important;
}

.infoSection__0f2e8 {
    transition: opacity 0.5s ease;
}

.membersWrap_cbd271:not(:hover) .infoSection__0f2e8 {
    opacity: 0;
}

/* Fade out usernames when collapsed */
.content__91a9d {
    transition: opacity 0.5s ease;
}

.membersWrap_cbd271:not(:hover) .content__91a9d {
    opacity: 0;
}

/* Fix the member count addon (vencord) */
.members_cbd271:hover .vc-membercount-widget {
    height: 40px;  /* 52px non-hover height minus 12px non-hover margin */
}

.members_cbd271:not(:hover) .vc-membercount-widget {
    margin-bottom: -12px;
}

.members_cbd271:not(:hover) .vc-membercount-online-count,
.members_cbd271:not(:hover) .vc-membercount-total-count {
    display: none !important;
}

.members_cbd271:not(:hover) > .vc-membercount-member-list > div {
    box-sizing: border-box !important;
    flex: 1 0 100%;
}

.members_cbd271:not(:hover) > .vc-membercount-member-list {
    flex-wrap: wrap;
}

/* Avatar-only DM profile */
/* .outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) is the only way to select just the DM profile area */
/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) {*/
/*    !* Main transform *!*/
/*    transform: translate(275px);*/
/*    margin-left: -275px;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout),*/
/*.inner_c69a7b:not(.user-profile-modal):not(.user-profile-popout) {*/
/*    transition: transform 0.5s ease, border-radius 0.5s ease;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover,*/
/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover .inner_c69a7b {*/
/*    transform: none;*/
/*    border-radius: var(--memberlist-border-radius) 0 0 var(--memberlist-border-radius);*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .banner_d5fdb1 {*/
/*    transition: border-radius 0.5s ease;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover .banner_d5fdb1 {*/
/*    border-top-left-radius: var(--memberlist-border-radius);*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .avatar__75742 {*/
/*    !* Move profile picture out to still be visible when collapsed *!*/
/*    transform: translate(-56px);*/
/*    transition: transform 0.5s ease;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover .avatar__75742 {*/
/*    transform: none;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .none_c49869,*/
/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .inner_c69a7b {*/
/*    !* Disable scrolling to allow profile to overflow the outer element *!*/
/*    overflow: visible !important;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .body_b32ca4,*/
/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout) .overlay_c69a7b {*/
/*    opacity: 0;*/
/*    transition: opacity 0.5s ease;*/
/*}*/

/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover .body_b32ca4,*/
/*.outer_c69a7b:not(.user-profile-modal):not(.user-profile-popout):hover .overlay_c69a7b {*/
/*    opacity: 1;*/
/*}*/
