/*avatar only memberlist*/
.membersWrap__5ca6b {
  min-width: unset;
}

.members__573eb {
  max-width: 65px;
  min-width: 65px;
  transition: 0.5s ease;
}

.members__573eb:hover {
  max-width: 240px;
  min-width: 240px;
}

div:not(:hover)>.members__573eb>div {
  padding-top: 10px;
}

/* Fix alignment issues with the members list */
.container_b2ce9c,
.membersWrap__5ca6b {
  width: 65px;
}

/* Make the member list expand on top of the chat instead of shifting it */
.members__573eb {
  margin-left: 0px;
  background-color: #0000;
  transition: 0.5s ease;
}

.members__573eb:hover {
  margin-left: -175px;
  background-color: #181a1ddd;
}

/* Make the list fill the window height */
.membersWrap__5ca6b {
  height: 100%;
}

/* Fix the member count addon (vencord) */
.members__573eb:not(:hover) > #vc-membercount > div > span:first-child {
    display: none !important;
}
.members__573eb:not(:hover) > #vc-membercount > div {
    box-sizing: border-box !important;
    flex: 1 0 100%;
}
.members__573eb:not(:hover) > #vc-membercount {
  flex-wrap: wrap;
}