/* YouTube */
[href*="youtu.be"],
[href*="youtube.com"] {
    color: #c4302b !important;
}

/* Twitch */
[href*="twitch.tv"] {
    color: #b700ff !important;
}

/* Discord */
[href*="discord.com/channels/"] {
    color: #7289da !important;
}

[href*="discord.com/channels/"]::before {
    color: #603cff;
}

[href*="betterdiscord.app/"],
[href*="discord.gg/"],
[href*="discord.com/"],
[href*="media.discordapp.net/"],
[href*="cdn.discordapp.com/"] {
    color: #7289da !important;
}

/* Twitter */
[href*="twitter.com/"] {
    color: #00acee !important;
}

/* GitHub */
[href*="github.com"] {
    color: #00f0a8 !important;
}

/* Imgur */
[href*="i.imgur.com"] {
    color: #89c623 !important;
}

/* Steam */
html.theme-dark [href*="store.steampowered.com"],
html.theme-dark [href*="https://s.team"],
html.theme-dark [href*="steamcommunity.com/"] {
    color: #899db6 !important;
}

html.theme-light [href*="store.steampowered.com"],
html.theme-light [href*="https://s.team"],
html.theme-light [href*="steamcommunity.com/"] {
    color: #5c6979 !important;
}

/* Spotify */
[href*="spotify.com"],
[href*="open.spotify.com"] {
    color: #13b94a !important;
}

/* SoundCloud */
[href*="soundcloud.com"] {
    color: #ff5500 !important;
}