/* Hide the "Play Again" section in DMs */
.container_e5a9ed {
    display: none !important;
}

/* Hide Nitro gift button */
div[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
div[aria-label="Open sticker picker"] {
    display: none;
}

/* Remove mobile icon */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
    visibility: hidden !important;
}

#app-mount .wrapper__44b0c foreignObject[mask*=mobile]:after {
    display: none;
}

/* Hide nitro section of friends list */
.link__972a0[href="/store"] {
    display: none;
}

/* Hide shop section of friends list */
.link__972a0[href="/shop"] {
    display: none;
}

/* Hide quests section of friends list */
.link__972a0[href="/quest-home"] {
    display: none;
}

/* Hide "Quest" advertisements */
.mask__0d616 {
    display: none;
}