/* Hide the "Play Again" section in DMs */
.container__675e5 {
    display: none !important;
}

/* Hide Nitro gift button */
div[aria-label="Send a gift"] {
    display: none;
}

/* Hide sticker picker button */
div[aria-label="Open sticker picker"] {
    display: none;
}

/* Remove mobile icon */
foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]::after {
    visibility: hidden !important;
}

#app-mount ._44b0c28be7879b7b-wrapper foreignObject[mask*=mobile]:after {
    display: none;
}

/* Hide nitro section of friends list */
._972a0d22c8afa7f0-link[href="/store"] {
    display: none;
}

/* Hide shop section of friends list */
._972a0d22c8afa7f0-link[href="/shop"] {
    display: none;
}

/* Hide "Quest" advertisements */
._0d6162a4e6a4b802-mask {
    display: none;
}