/* text color for youtube links */
[href*="youtu.be"],
[href*="youtube.com"] {
  color: #d93530 !important;
}

/* hide message in the sidebar */
.theme-dark .sidebar_ded4b5 .content__23cab:after {
  color: rgba(255, 255, 255, 0) !important;
  text-shadow: none !important;
}

/* realign background image */
.bg__12180 {
  background-position: var(--background-position, right);
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide super reaction button */
div[aria-label="Add Super Reaction"] {
  display: none;
}

/* Hide super reaction tab in emoji picker */
button[id="super-reaction-picker-tab"] {
  display: none;
}

/* Custom font for channel names */
.containerDefault__3187b {
  font-family: var(--font-name);
}

/* Remove mobile icon */
#app-mount .wrapper_edb6e0 foreignObject[mask*=mobile]:after {
  display: none;
}

/* Reset groupchat name font */
.input__321f5 {
  font-family: var(--font-name) !important;
  font-weight: inherit !important;
}

/* Fix the status changer popout */
div[class="submenu_acf564 menu_dc52c6"] {
  backdrop-filter: none;
}
/* Optionally remove the separator from the submenu (also removes from other sub menus as well) */
/* Comment out to add the separator back to sub menus. */
.separator__18122 {
  display: none;
}
.description_ea6680 {
  display: none;
}

/* Color the status text in the status changer popout */
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--online"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-online-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--idle"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-idle-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--dnd"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-dnd-color);
}
div[class="item__183e8 colorDefault__0b482"][id="account-status-picker--invisible"] > div[class="statusItem__72404"] > div[class="status__8c19b"] {
  color: var(--rs-invisible-color);
}

/* Fix the profile information under My Account */
div[class="fieldList_aab0de"] > div[class*="field__9e8e2"] {
  width: 100%;
}
div[class="field__9e8e2"] > button[aria-label="Edit username"][class="fieldButton_a93f59 button_afdfd9 lookFilled__19298 colorPrimary__6ed40 sizeSmall__71a98 grow__4c8a4"] {
  width: 90%;
  position: absolute;
  bottom: -1px;
}

/* Change the message in the messagebox when you're restricted from sending messages in that channel. */
.innerDisabled__37f59 .placeholder_e68c63::before {
  content: "Unfortunately, you can't chill in this channel.";
}

/* Improve steam link readability */
[href*="store.steampowered.com"], [href*="https://s.team"], [href*="steamcommunity.com/"] {
  color: #899db6 !important;
}

/* Make unread DM's highlighted based on accent color */
.link__2e8e1:has(.highlighted__7bba7), .modeUnreadImportant_efb53e:has(.mentionsBadge_c2f85b) {
  border-left: 2px solid rgba(var(--accentcolor), 0.8);
  background: linear-gradient(
    90deg,
    rgba(var(--accentcolor), 0.3),
    rgba(var(--accentcolor), 0.2),
    transparent
  );
}