/* text color for youtube links */
[href*="youtu.be"],
[href*="youtube.com"] {
  color: #d93530 !important;
}

/* hide message in the sidebar */
.theme-dark .sidebar_ded4b5 .content__23cab:after {
  color: rgba(255, 255, 255, 0) !important;
  text-shadow: none !important;
}

/* realign background image */
.bg__12180 {
  background-position: var(--background-position, right);
}

/* Hide Nitro gift button */
button[aria-label="Send a gift"] {
  display: none;
}

/* Hide sticker picker button */
button[aria-label="Open sticker picker"] {
  display: none;
}

/* Hide super reaction button */
div[aria-label="Add Super Reaction"] {
  display: none;
}

/* Hide super reaction tab in emoji picker */
button[id="super-reaction-picker-tab"] {
  display: none;
}

/* Custom font for channel names */
.containerDefault__3187b {
  font-family: var(--font-name);
}

/* Remove mobile icon */
#app-mount .wrapper_edb6e0 foreignObject[mask*=mobile]:after {
  display: none;
}