#app-mount .baseLayer__2b890 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}

#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}

#app-mount .layer_f7d46a.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

.theme-light #app-mount .layer_f7d46a~.layer_f7d46a {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--themelightsettingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

.theme-dark #app-mount .layer_f7d46a~.layer_f7d46a {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--themedarksettingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a>div,
#app-mount .layer_f7d46a~.layer_f7d46a .standardSidebarView__1129a {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .sidebar__9e3e2 {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .contentColumnDefault_c66386 {
	padding: 20px 40px !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .sidebar-3K3Z4C {
	height: var(--settingsmodalheight) !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .repoHeader-2KfNvH {
	max-width: calc(var(--settingsmodalwidth) - 256px) !important;
	;
}

#app-mount .layer_f7d46a~.layer_f7d46a .standardSidebarView__1129a .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .toolsContainer_f5d55d,
#app-mount .layer_f7d46a~.layer_f7d46a .toolsContainer_f5d55d .tools_c0ff70,
#app-mount .layer_f7d46a~.layer_f7d46a .toolsContainer_f5d55d .container_bb0c52,
#app-mount .layer_f7d46a~.layer_f7d46a .toolsContainer_f5d55d .closeButton__34341 {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .toolsContainer_f5d55d {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .toolbar__88c63 {
	display: none !important;
}

#app-mount .layer_f7d46a~.layer_f7d46a .header_f72511 {
	max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root-2zfUH6 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

#app-mount .root-2zfUH6.enterDone-menWZ8 {
	transform: unset !important;
}

#app-mount .perksModal-CLcR1c {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}

#app-mount .perksModal-CLcR1c::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}

#app-mount .perksModalContentWrapper-3RHugb {
	padding: 10px 0 10px !important;
}

#app-mount .root-2zfUH6 .perksModal-CLcR1c .carousel-3dvee9 {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}

#app-mount .root-2zfUH6 .closeWrapper-9ScmSq,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .container-O54IuJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}

#app-mount .root-2zfUH6 .closeWrapper-9ScmSq {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}

.theme-dark .sidebarRegion__60457 {
	background: var(--sidebar-colour);
}

.theme-light .sidebarRegion__60457 {
	background: var(--sidebar-colour);
}
.contentRegion__0bec1 {
zoom: 0.9!important;
}
.premiumFeatureBorder__9bbb3{
  background: linear-gradient(var(--background-primary),var(--background-primary))padding-box border-box;
}

/* Hide hover underline on selected tab */
.selected__5711d:after {
	background: transparent !important;
}