/* The 'View all' page showing threads in a channel has no BG for the 
empty area (look at linesight) */

/* Make dropdowns blurred instead of grey? */

/* Boost page exiting is weird */

/* Forum looks bad again with narrow window */

/* Background image */
.bg__12180 {
	background-image: var(--background-image);
	background-attachment: var(--background-attachment, fixed);
	background-size: var(--background-size, cover);
	background-position: var(--background-position, center);
}

/* My background image realignment */
.bg__12180 {
	background-position: var(--background-position, right);
}

/* Settings/Deafen/Mute Buttons Animated */
.button__4f306:hover .contents_fb6220 {
	animation: UserModalButtons 0.5s normal ease;
}

@keyframes UserModalButtons {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-5px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* Hover effect for mute/deafen/settings icons */
.panels__58331>.container_ca50b9 .flex_f5fbb7> :not(:last-child) {
	opacity: 0% !important;
	width: 50px;
	transition: all 0.3s;
}

.panels__58331>.container_ca50b9:hover .flex_f5fbb7> :not(:last-child) {
	opacity: 100% !important;
	width: 40px;
	margin-left: 10px;
}

/* Spacing for settings button */
.button__4f306[aria-label="User Settings"] {
	margin-left: 10px;
}

/* Avatar in bottom left */
.avatarWrapper_ba5175 {
	max-width: 36px;
	min-width: 36px;
	transition: 0.3s;
}

.avatarWrapper_ba5175:hover {
	max-width: 207px;
	min-width: 207px;
	transition: 0.3s;
}


/* custom popout window */
.theme-dark #app-mount .layers_a23c37 {
	margin: var(--window-margin);
	overflow: hidden;
	border-radius: var(--window-border-radius);
	background: var(--window-colour);
	backdrop-filter: blur(var(--window-blur)) !important;
}


/*user setting icon spin*/
.button__4f306:nth-last-child(1):hover path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
	animation: Settings 1s;
	transform-origin: center;
}

.button__4f306:nth-last-child(1) path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
	animation: Settings2 1s;
	transform-origin: center;
}

@keyframes Settings {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(180deg);
	}
}

@keyframes Settings2 {
	from {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(0deg);
	}
}


/*chatbox recolour*/
.input-2g-os5,
.scrollableContainer__33e06 {
	background-color: transparent !important;
	transition: background-color 0.2s ease, border-color 0.2s ease;
	outline: none;
}

.placeholder_e68c63.slateTextArea__0661c.fontSize16Padding__48818 {
	color: transparent !important;
}

.theme-dark .input-2g-os5:hover,
.theme-dark .scrollableContainer__33e06:hover {
	background-color: #00000023 !important;
}

/* attachedBars is the reply bar */
.theme-dark .input-2g-os5:focus-within,
.theme-dark .scrollableContainer__33e06:focus-within,
.attachedBars_da3c74 {
	background-color: #181a1d !important;
	box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
}

.message-2CShn3 {
	border-radius: 8px !important;
}

.mentioned__58017 {
	border-radius: 0 8px 8px 0 !important
}

/*Textbox Text*/
.theme-dark .placeholder_e68c63 {
	visibility: hidden !important;
}

.theme-dark .placeholder_e68c63::before {
	content: "Life is so much easier when you just take a moment to chill";
	color: rgba(255, 255, 255, 0.2);
	font-family: "Poppins";
	font-size: 13px;
	visibility: visible !important;
}


/*custom mentioned colour*/
.theme-dark .mentioned__58017:before {
	background: linear-gradient(135deg, #3b3b3b, var(--accentcolorV2)) !important;
}

.theme-dark .mentioned__58017 {
	background: linear-gradient(60deg,
			rgba(41, 41, 41, 0.3),
			rgba(var(--accentcolor), 0.9)) !important;
}

.theme-dark .mentioned__58017:hover {
	background: linear-gradient(60deg,
			rgba(32, 32, 32, 0.5),
			rgba(var(--accentcolor))) !important;
}


/* Minified search bar */
:root {
	--transitionspeed: 0.25s;
}

.search_ac353c:not(.open_d3ab4e) .searchBar_e0c60b {
	width: 20px;
	transition: var(--transitionspeed);
	background-color: transparent;
}

.search_ac353c:not(.open_d3ab4e):hover .searchBar_e0c60b {
	width: 240px;
	background-color: var(--background-tertiary);
}

.search_ac353c:not(.open_d3ab4e) .iconContainer__8fa9c {
	transform: scale(1.3);
	transition: var(--transitionspeed);
}

.search_ac353c:not(.open_d3ab4e):hover .iconContainer__8fa9c {
	transform: scale(1);
}

.search_ac353c:not(.open_d3ab4e) .icon_f50f05 {
	color: var(--text-normal);
}

.search_ac353c:not(.open_d3ab4e):hover .icon_f50f05 {
	color: var(--text-muted);
}

.container__037ed .search__07df0 {
	order: -1 !important;
}

/*channel resize*/
.sidebar_ded4b5 .name__8d1ec {
	font-size: 14px;
}

.sidebar_ded4b5 .icon_eff5d4 {
	width: 16px;
	height: 16px;
}


/*custom channel and text area font and size*/
.title__9e2b0 {
	font-family: var(--font-name);
	font-size: var(--font-size) !important;
}

.chatContent__5dca8,
.content__23cab {
	font-family: var(--font-name);
	font-size: var(--font-size) !important;
}


/*custom public servers and create server buttons*/
.theme-dark .scroller__3d071 .circleIconButton_d8df29 {
	border-radius: 50px;
	background: rgba(255, 255, 255, 0.1);
	color: rgb(255, 255, 255);
	transition: all 0.4s;
	border: dashed 1px rgba(255, 255, 255, 0.4);
}

.theme-dark .scroller__3d071 .circleIconButton_d8df29:hover {
	color: #ffffff;
	background: transparent;
}

.pill__13f64 {
	display: none;
}


/*user setting channel hover effect*/
.theme-dark .selected__5711d:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.selected__5711d:hover:after {
	width: 100%;
	left: 0;
}


/* transparent role selection / browse channels / members page background */
.container__11d72,
.container__10dc7,
.container__7590f {
	background-color: transparent !important;
}


/* SettingsModelEdited.css */
#app-mount .baseLayer__8fda3 {
	opacity: 1 !important;
	transform: unset !important;
	will-change: unset !important;
}

#app-mount .stop-animations * {
	transition-property: inherit !important;
	animation: inherit !important;
}

#app-mount .layer__2efaa.stop-animations:first-child::after {
	content: "" !important;
	position: fixed !important;
	background: rgb(0, 0, 0) !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0.85 !important;
	z-index: 999 !important;
	pointer-events: none !important;
}

.theme-light #app-mount .layer__2efaa~.layer__2efaa {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--themelightsettingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

.theme-dark #app-mount .layer__2efaa~.layer__2efaa {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--themedarksettingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

#app-mount .layer__2efaa~.layer__2efaa>div,
#app-mount .layer__2efaa~.layer__2efaa .standardSidebarView__1129a {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
	overflow: hidden !important;
}

#app-mount .layer__2efaa~.layer__2efaa .sidebar__9e3e2 {
	width: 218px !important;
	padding: 20px 6px 20px 20px !important;
}

#app-mount .layer__2efaa~.layer__2efaa .contentColumnDefault_c66386 {
	padding: 20px 40px !important;
}

#app-mount .layer__2efaa~.layer__2efaa .sidebar-3K3Z4C {
	height: var(--settingsmodalheight) !important;
}

#app-mount .layer__2efaa~.layer__2efaa .repoHeader-2KfNvH {
	max-width: calc(var(--settingsmodalwidth) - 256px) !important;
	;
}

#app-mount .layer__2efaa~.layer__2efaa .standardSidebarView__1129a .editor {
	height: calc(var(--settingsmodalheight) - 120px) !important;
}

#app-mount .layer__2efaa~.layer__2efaa .toolsContainer_f5d55d,
#app-mount .layer__2efaa~.layer__2efaa .toolsContainer_f5d55d .tools_c0ff70,
#app-mount .layer__2efaa~.layer__2efaa .toolsContainer_f5d55d .container_bb0c52,
#app-mount .layer__2efaa~.layer__2efaa .toolsContainer_f5d55d .closeButton__34341 {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}

#app-mount .layer__2efaa~.layer__2efaa .toolsContainer_f5d55d {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}

#app-mount .layer__2efaa~.layer__2efaa .toolbar__88c63 {
	display: none !important;
}

#app-mount .layer__2efaa~.layer__2efaa .header_f72511 {
	max-width: calc(var(--settingsmodalwidth) - 730px) !important;
}

#app-mount .root-2zfUH6 {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: var(--settingsmodalbackground) !important;
	border-radius: 5px !important;
	box-shadow: var(--elevation-high) !important;
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
	padding: 0 !important;
	overflow: hidden !important;
	contain: unset !important;
	z-index: 1000 !important;
}

#app-mount .root-2zfUH6.enterDone-menWZ8 {
	transform: unset !important;
}

#app-mount .perksModal-CLcR1c {
	position: static !important;
	border-radius: unset !important;
	width: 100% !important;
	height: 100% !important;
	margin: unset !important;
	padding: unset !important;
}

#app-mount .perksModal-CLcR1c::before {
	width: var(--settingsmodalwidth) !important;
	height: var(--settingsmodalheight) !important;
	margin: auto !important;
}

#app-mount .perksModalContentWrapper-3RHugb {
	padding: 10px 0 10px !important;
}

#app-mount .root-2zfUH6 .perksModal-CLcR1c .carousel-3dvee9 {
	margin-left: calc(-0.5 * (100vw - var(--settingsmodalwidth))) !important;
}

#app-mount .root-2zfUH6 .closeWrapper-9ScmSq,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeContent-I3JbQJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .container-O54IuJ,
#app-mount .root-2zfUH6 .closeWrapper-9ScmSq .closeButton-PCZcma {
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	background: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	width: 100% !important;
	max-width: unset !important;
	height: 100% !important;
	max-height: unset !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	cursor: default !important;
}

#app-mount .root-2zfUH6 .closeWrapper-9ScmSq {
	position: fixed !important;
	top: 22px !important;
	z-index: -1 !important;
}

.theme-dark .sidebarRegion__60457 {
	background: var(--sidebar-colour);
}

.theme-light .sidebarRegion__60457 {
	background: var(--sidebar-colour);
}