/*chillax dev tag*/ /*moohamad wq*/
#app-mount .avatar-2e8lTP + h2 {
  overflow: visible;
}
.avatar-2e8lTP[src*="709377715320651838"] + h2::after {
  position: absolute;
  font-size: 12px;
  bottom: -23px;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
  margin-bottom: 18px!important;
  left: -70px;
}
.avatar-2e8lTP[src*="709377715320651838"]:hover + h2::after {
  content: 'Chillax DEV';
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  font-family: "Amatic SC";
  letter-spacing: 1px;
  padding: 3px 10px !important;
  bottom: -31px !important;
}
/*chillax dev tag*/ /*demented elmo*/
#app-mount .avatar-2e8lTP + h2 {
  overflow: visible;
}
.avatar-2e8lTP[src*="810543628307922955"] + h2::after {
  position: absolute;
  font-size: 12px;
  bottom: -23px;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: none;
  z-index: 1;
  margin-bottom: 18px!important;
  left: -70px;
}
.avatar-2e8lTP[src*="810543628307922955"]:hover + h2::after {
  content: 'Chillax DEV';
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(5px);
  color: rgb(255, 255, 255);
  font-family: "Amatic SC";
  letter-spacing: 1px;
  padding: 3px 10px !important;
  bottom: -31px !important;
}
